<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTAM Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/dashboard-assets/css/style.css">
    <link rel="icon" type="image/png" href="https://estamuni.net/public/assets/images/favicon.png">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li style="margin-top:10px;">
                    <a href="#">
                        <span class="icon">
                            <img src="/dashboard-assets/imgs/Estam Uni logo.png" alt="ESTAM Logo"
                style="width:60px; height:auto; border-radius:50%; ">
                        </span>
                        <span class="title">ESTAM DASHBOARD</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard/students">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Students</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard/rejected-applications">
                        <span class="icon">
                            <ion-icon name='ban-outline'></ion-icon>
                        </span>
                        <span class="title">Rejects</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-dashboard/admin-settings">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Change Password</span>
                    </a>
                </li>

                <li>
                    <a href="/admin-logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
