<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
<header class="edu-header header-style-1 header-fullwidth no-topbar">
  <div id="edu-sticky-placeholder"></div>
  <div class="header-mainmenu">
    <div class="container-fluid">
      <div class="header-navbar">
        <div class="header-brand">
          <div class="logo">
            <a href="/">
              <img
                class="logo-light"
                src="assets/images/logo/logo-dark.png"
                alt="ESTAM logo"
                style="width:100%; height:auto; max-width:245px;"
              />
              <img
                class="logo-dark"
                src="assets/images/logo/logo-white.png"
                alt="ESTAM logo"
                style="width:100%; height:auto; max-width:245px;"
              />
            </a>
          </div>
        </div>
        <div class="header-mainnav">
          <nav class="mainmenu-nav">
            <nav class="mainmenu-nav">
              <ul class="mainmenu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li class="has-droupdown"><a href="#">Faculties</a>
                  <ul class="submenu">
                    <li><a
                        href="/faculty-of-social-and-management-science"
                      >Social and Management Science</a></li>
                    <li><a href="/faculty-of-applied-science">Applied Science</a></li>
                    <li><a href="/faculty-of-engineering">Engineering</a></li>
                    <li><a href="/postgraduate-programs">Postgraduate Programs</a></li>
                  </ul>
                </li>
                <li class="has-droupdown"><a href="#">Academics</a>
                  <ul class="submenu">
                    <li><a href="/admissions">Admissions</a></li>
                    <li><a href="/research">Research</a></li>
                    <li><a href="/career-services">Career Services</a></li>
                    <li><a href="/scholarships">Scholarships</a></li>

                  </ul>
                </li>
                <li><a href="/campus-life">Campus Life</a></li>
                <li class="has-droupdown"><a href="#">More</a>
                  <ul class="submenu">
                    <li><a href="/accomodation">Accomodation</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/alumni">Alumni</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </nav>
        </div>
        <div class="header-right">
          <ul class="header-action">
            <li class="search-bar">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" />
                <button class="search-btn" type="button"><i
                    class="icon-2"
                  ></i></button>
              </div>
            </li>
            {{!-- <li class="icon search-icon">
              <a href="javascript:void(0)" class="search-trigger">
                <i class="icon-2"></i>
              </a>
            </li> --}}
            <li class="header-btn">
              <a
                href="apply"
                class="edu-btn btn-medium btn-gradient"
              >Apply Now <i class="icon-4"></i></a>
            </li>
            <li class="mobile-menu-bar d-block d-xl-none">
              <button class="hamberger-button">
                <i class="icon-54"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

   <!-- Moblie Navigation -->
  <div class="popup-mobile-menu">
    <div class="inner">
      <div class="header-top">
        <div class="logo">
          <a href="index.html">
            <img
              class="logo-light"
              src="assets/images/logo/logo-dark.png"
              alt="ESTAM Logo"
              style="width:100%; height:auto; max-width:215px;"
            />
            <img
              class="logo-dark"
              src="assets/images/logo/logo-white.png"
              alt="ESTAM Logo"
              style="width:100%; height:auto; max-width:215px;"
            />
          </a>
        </div>
        <div class="close-menu">
          <button class="close-button">
            <i class="icon-73"></i>
          </button>
        </div>
      </div>
      <ul class="mainmenu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="has-droupdown"><a href="#">Faculties</a>
          <ul class="submenu">
            <li><a href="/faculty-of-social-and-management-science">Social and
                Management Science</a></li>
            <li><a href="/faculty-of-applied-science">Applied Science</a></li>
            <li><a href="/faculty-of-engineering">Engineering</a></li>
            <li><a href="/postgraduate-programs">Postgraduate Programs</a></li>
          </ul>
        </li>
        <li class="has-droupdown"><a href="#">Academics</a>
          <ul class="submenu">
            <li><a href="/admissions">Admissions</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/career-services">Career Services</a></li>
            <li><a href="/scholarships">Scholarships</a></li>
          </ul>
        </li>
        <li><a href="/campus-life">Campus Life</a></li>
        <li><a href="/accomodation">Accomodation</a></li>
        <li><a href="/alumni">Alumni</a></li>
        <li class="has-droupdown"><a href="#">More</a>
          <ul class="submenu">
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Start Search Popup  -->
  <div class="edu-search-popup">
    <div class="content-wrap">
      <div class="site-logo">
        <img
          class="logo-light"
          src="assets/images/logo/logo-dark.png"
          alt="ESTAM Logo"
        />
        <img
          class="logo-dark"
          src="assets/images/logo/logo-white.png"
          alt="ESTAM Logo"
        />
      </div>
      <div class="close-button">
        <button class="close-trigger"><i class="icon-73"></i></button>
      </div>
      <div class="inner">
        <form class="search-form" action="#">
          <input
            type="text"
            class="estam-search-popup-field"
            placeholder="Search Here..."
          />
          <button class="submit-button"><i class="icon-2"></i></button>
        </form>
      </div>
    </div>
  </div>
  <!-- End Search Popup  -->
</header>
{{!-- <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->

        <div class="edu-breadcrumb-area breadcrumb-style-2 bg-image bg-image--19">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">{{title}}</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
                    </ul>
                </div>
            </div>
        </div> --}}