{{> header }}

            <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area breadcrumb-style-2 bg-image bg-image--19">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">About Our Prestigious University</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ul>
                </div>
            </div>
        </div>

 <!--=====================================-->
        <!--=       About Area Start            =-->
        <!--=====================================-->
        <div class="section-gap-large edu-about-area about-style-7">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="about-content">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title">About Us</span>
                                <h2 class="title">Welcome to <span class="color-secondary">ESTAM UNIVERSITY</span>, where innovation meets excellence</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p>At ESTAM University, we are committed to providing an exceptional education and unparalleled resources to empower our students to reach their full potential and achieve success in their chosen fields.</p>
                            </div>
                            <ul class="features-list" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <li>Highly qualified and experienced faculty</li>
                                <li>Dynamic student life</li>
                                <li>Internet access</li>
                                <li>Sporting activities</li>
                                <li>Fun and educative excursions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-image-gallery">
                            <img class="main-img-1" src="assets/images/about/about11.jpg" alt="About Image">
                            <img class="main-img-2" src="assets/images/about/about12.jpg" data-sal-delay="150" data-sal="slide-down" data-sal-duration="800" alt="About Image">
                            <ul class="shape-group">
                                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="2" src="assets/images/about/shape-38.png" alt="Shape">
                                </li>
                                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="-2" src="assets/images/about/shape-37.png" alt="Shape">
                                </li>
                                <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="-1.8" src="assets/images/about/shape-04.png" alt="Shape">
                                </li>
                                <li class="shape-4 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img src="assets/images/counterup/shape-02.png" alt="Shape">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200"></li>
            </ul>
        </div>
        
        <!--=====================================-->

        <!--=       Vision&Mission Area Start        =-->
        <!--=====================================-->
        <div class="container" >
            <div class="center section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <span class="pre-title center">Our Vision </span>
                <h2 class="title center">Our Vision and Mission</h2>
                <span class="shape-line center"><i class="icon-19"></i></span>
                <p>At ESTAM University, we are driven by a clear vision and mission to provide high-quality education to all students, regardless of their background. Our vision is to be a leading institution of higher education in Africa, providing excellent academic programs and producing graduates who are leaders in their fields.</p>
                <p>To achieve this vision, our mission is to provide innovative and relevant academic programs that prepare our students to be successful in their careers and in life. We believe in recruiting and retaining top-notch faculty who are passionate about teaching and research, and in fostering a dynamic and inclusive learning environment.</p>
                <p>We aim to empower our students with the knowledge, skills, and values they need to make a positive impact in the world. We believe that education is a key driver of development and progress, and we are committed to making a positive difference in the lives of our students, their families, and their communities.</p>
            </div>
        </div>
        <!-- End Vision&Mission Area  -->
        <!--=====================================-->

        <!--=       Why Choose Area Start       =-->
        <!--=====================================-->
        <!-- Start Why Choose Area  -->
        <section class="why-choose-area-2 section-gap-large">
            <div class="container estam-animated-shape">
                <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <span class="pre-title">Why choose estam</span>
                    <h2 class="title">Factors Influencing The <span class="color-secondary">Choice </span>Of <br>ESTAM University</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-primary-style">
                            <div class="icon">
                                <i class="icon-45"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Accredited Courses</h4>
                                <p>It is accredited by the Ministry Of Education in Cotonou, and recognized by the Federal Ministry of Education in Abuja, Nigeria.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-secondary-style">
                            <div class="icon">
                                <i class="icon-36"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Affordable Tuition</h4>
                                <p>We strive to make quality education accessible to all, which is why our tuition fees are affordable and competitive.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-extra08-style">
                            <div class="icon">
                                <i class="icon-47"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Top notch lecturers</h4>
                                <p>ESTAM university has many top-notch lecturers who are dedicated to providing the best education to their students.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="shape-group">
                    <li class="shape-5" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                        <span></span>
                    </li>
                </ul>
            </div>
            <ul class="shape-group">
                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth="1"></span>
                </li>
                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="shape">
                </li>
                <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth="-1"></span>
                </li>
                <li class="shape-4 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="2" src="assets/images/about/shape-40.png" alt="shape">
                </li>
            </ul>
        </section>
        <!-- End Why Choose Area  -->
        <!--=====================================-->
        <!--=       Testimonial Area Start      =-->
        <!--=====================================-->
        <!-- Start Testimonial Area  -->
        <div class="testimonial-area-5 gap-lg-bottom-equal">
            <div class="container">
                <div class="row g-lg-5">
                    <div class="col-lg-5">
                        <div class="testimonial-heading-area">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title">Testimonials</span>
                                <h2 class="title">What Our Students Have To Say</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p>Our alumni share their experiences of how an ESTAM education has helped shape their lives and careers. Discover the transformative power of an ESTAM education through their stories.</p>
                                <a href="/alumni" class="edu-btn btn-large">View All<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="swiper-testimonial-slider-wrapper swiper testimonial-coverflow">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/Timi.jpg" alt="Timininu">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>
                                        </div>
                                        <div class="content">
                                            <p>This university prepared me for real-world challenges. The knowledgeable faculty, hands-on experiences, and professional network have been invaluable throughout my career.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Timininu</h5>
                                            <span class="subtitle">Alumni</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/Kome.jpg" alt="Ognenekome">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>The education I received at this university has been invaluable. The job placement assistance and ongoing professional development opportunities have made a significant impact.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Ognenekome</h5>
                                            <span class="subtitle">Alumni</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/Eliz.jpg" alt="Elizabeth">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>As an alumna, I credit this university for my achievements. The challenging curriculum, dedicated faculty, and alumni events have fostered lifelong learning and growth.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Elizabeth</h5>
                                            <span class="subtitle">Alumni</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area  -->
        <!--=====================================-->


        <!--=       CounterUp Area Start        =-->
        <!--=====================================-->
        <div class="counterup-area-8 gap-lg-bottom-equal">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon primary-color">
                                <i class="icon-48"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="29.3">.</span><span>K</span>
                            </h2>
                            <h6 class="title">Student Enrolled</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon secondary-color">
                                <i class="icon-47"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="32.4">.</span><span>K</span>
                            </h2>
                            <h6 class="title">Class Completed</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon extra08-color">
                                <i class="icon-49"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="100">.</span><span>%</span>
                            </h2>
                            <h6 class="title">Satisfaction Rate</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon extra05-color">
                                <i class="icon-50"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="354">.</span><span>+</span>
                            </h2>
                            <h6 class="title">Top Instructors</h6>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img src="assets/images/others/map-shape-3.png" alt="Shape">
                </li>
            </ul>
        </div>
        <!--=====================================-->
        {{!-- <!--=        Team Area Start       	    =-->
        <!--=====================================-->
        <!-- Start Team Area  -->
        <div class="edu-team-area team-area-5 section-gap-large">
            <div class="container">
                <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <span class="pre-title">Staff</span>
                    <h2 class="title">Staff Members</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
                <div class="row g-5">
                    <!-- Start Instructor Grid  -->
                    <div class="col-lg-4 col-md-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-team-grid team-style-2">
                            <div class="inner">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail">
                                        <a href="team-details.html">
                                            <img src="assets/images/team/team-05.webp" alt="team images">
                                        </a>
                                    </div>
                                    <ul class="team-share-info">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="team-details.html">Jane Seymour</a></h5>
                                    <span class="designation">UI Designer</span>
                                    <p>Consectetur adipisicing elit, sed do eius mod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Instructor Grid  -->
                    <!-- Start Instructor Grid  -->
                    <div class="col-lg-4 col-md-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-team-grid team-style-2">
                            <div class="inner">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail">
                                        <a href="team-details.html">
                                            <img src="assets/images/team/team-06.webp" alt="team images">
                                        </a>
                                    </div>
                                    <ul class="team-share-info">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="team-details.html">Edward Norton</a></h5>
                                    <span class="designation">President</span>
                                    <p>Consectetur adipisicing elit, sed do eius mod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Instructor Grid  -->
                    <!-- Start Instructor Grid  -->
                    <div class="col-lg-4 col-md-6" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-team-grid team-style-2">
                            <div class="inner">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail">
                                        <a href="team-details.html">
                                            <img src="assets/images/team/team-07.webp" alt="team images">
                                        </a>
                                    </div>
                                    <ul class="team-share-info">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="team-details.html">Penelope Cruz</a></h5>
                                    <span class="designation">Digital Marketer</span>
                                    <p>Consectetur adipisicing elit, sed do eius mod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Instructor Grid  -->
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth=".8"></span>
                </li>
                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="shape">
                </li>
                <li class="shape-3" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span></span>
                </li>
            </ul>
        </div>
        <!-- End Team Area  -->
        <!--=====================================--> --}}