{{> header }}
 <!--=====================================-->
        <!--=       About Area Start            =-->
        <!--=====================================-->
        <div class="section-gap-large edu-about-area about-style-7">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="about-content">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title">About Us</span>
                                <h2 class="title">We Providing The <span class="color-secondary">Best Quality</span> Online Courses.</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod ex tempor incididunt labore dolore magna aliquaenim ad minim.</p>
                            </div>
                            <ul class="features-list" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <li>Flexible Classes</li>
                                <li>Offline Classe Mode</li>
                                <li>Educator Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-image-gallery">
                            <img class="main-img-1" src="assets/images/about/about-11.webp" alt="About Image">
                            <img class="main-img-2" src="assets/images/about/about-12.webp" data-sal-delay="150" data-sal="slide-down" data-sal-duration="800" alt="About Image">
                            <ul class="shape-group">
                                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="2" src="assets/images/about/shape-38.png" alt="Shape">
                                </li>
                                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="-2" src="assets/images/about/shape-37.png" alt="Shape">
                                </li>
                                <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="-1.8" src="assets/images/about/shape-04.png" alt="Shape">
                                </li>
                                <li class="shape-4 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img src="assets/images/counterup/shape-02.png" alt="Shape">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200"></li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=       Brand Area Start            =-->
        <!--=====================================-->
        <!-- Start Brand Area  -->
        <div class="edu-brand-area brand-area-4 gap-lg-bottom-equal">
            <div class="container">
                <div class="brand-grid-wrap brand-style-2">
                    <div class="brand-grid">
                        <img src="assets/images/brand/brand-01.png" alt="Brand Logo">
                    </div>
                    <div class="brand-grid">
                        <img src="assets/images/brand/brand-02.png" alt="Brand Logo">
                    </div>
                    <div class="brand-grid">
                        <img src="assets/images/brand/brand-03.png" alt="Brand Logo">
                    </div>
                    <div class="brand-grid">
                        <img src="assets/images/brand/brand-04.png" alt="Brand Logo">
                    </div>
                    <div class="brand-grid">
                        <img src="assets/images/brand/brand-05.png" alt="Brand Logo">
                    </div>
                    <div class="brand-grid">
                        <img src="assets/images/brand/brand-06.png" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area  -->
        <!--=====================================-->
        <!--=       Why Choose Area Start       =-->
        <!--=====================================-->
        <!-- Start Why Choose Area  -->
        <section class="why-choose-area-2 section-gap-large">
            <div class="container estam-animated-shape">
                <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <span class="pre-title">Why choose estam</span>
                    <h2 class="title">The Best <span class="color-secondary">Beneficial</span> Side <br> of ESTAM University</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-primary-style">
                            <div class="icon">
                                <i class="icon-45"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">High Quality Courses</h4>
                                <p>Lorem ipsum dolor sit amet conset ur elit sed eiusmod ex tempor inc labore dolore magna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-secondary-style">
                            <div class="icon">
                                <i class="icon-46"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Life Time Access</h4>
                                <p>Lorem ipsum dolor sit amet conset ur elit sed eiusmod ex tempor inc labore dolore magna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-extra08-style">
                            <div class="icon">
                                <i class="icon-47"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Expert Instructors</h4>
                                <p>Lorem ipsum dolor sit amet conset ur elit sed eiusmod ex tempor inc labore dolore magna.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="shape-group">
                    <li class="shape-5" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                        <span></span>
                    </li>
                </ul>
            </div>
            <ul class="shape-group">
                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth="1"></span>
                </li>
                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="shape">
                </li>
                <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth="-1"></span>
                </li>
                <li class="shape-4 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="2" src="assets/images/about/shape-40.png" alt="shape">
                </li>
            </ul>
        </section>
        <!-- End Why Choose Area  -->
        <!--=====================================-->
        <!--=       Testimonial Area Start      =-->
        <!--=====================================-->
        <!-- Start Testimonial Area  -->
        <div class="testimonial-area-5 gap-lg-bottom-equal">
            <div class="container">
                <div class="row g-lg-5">
                    <div class="col-lg-5">
                        <div class="testimonial-heading-area">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title">Testimonials</span>
                                <h2 class="title">What Our Students Have To Say</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor incididunt labore dolore magna aliquaenim ad minim.</p>
                                <a href="#" class="edu-btn btn-large">View All<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="swiper-testimonial-slider-wrapper swiper testimonial-coverflow">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/testimonial/testimonial-01.png" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor amet consec tur elit adicing sed do usmod zx tempor enim minim veniam quis nostrud exer citation.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Ray Sanchez</h5>
                                            <span class="subtitle">Student</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/testimonial/testimonial-02.png" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor amet consec tur elit adicing sed do usmod zx tempor enim minim veniam quis nostrud exer citation.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Thomas Lopez</h5>
                                            <span class="subtitle">Designer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/testimonial/testimonial-03.png" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor amet consec tur elit adicing sed do usmod zx tempor enim minim veniam quis nostrud exer citation.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Amber Page</h5>
                                            <span class="subtitle">Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/testimonial/testimonial-04.png" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>Lorem ipsum dolor amet consec tur elit adicing sed do usmod zx tempor enim minim veniam quis nostrud exer citation.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Robert Tapp</h5>
                                            <span class="subtitle">Content Creator</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area  -->
        <!--=====================================-->
        <!--=       CounterUp Area Start        =-->
        <!--=====================================-->
        <div class="counterup-area-8 gap-lg-bottom-equal">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon primary-color">
                                <i class="icon-48"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="29.3">.</span><span>K</span>
                            </h2>
                            <h6 class="title">Student Enrolled</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon secondary-color">
                                <i class="icon-47"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="32.4">.</span><span>K</span>
                            </h2>
                            <h6 class="title">Class Completed</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon extra08-color">
                                <i class="icon-49"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="100">.</span><span>%</span>
                            </h2>
                            <h6 class="title">Satisfaction Rate</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-counterup counterup-style-4">
                            <div class="icon extra05-color">
                                <i class="icon-50"></i>
                            </div>
                            <h2 class="counter-item count-number">
                                <span class="odometer" data-odometer-final="354">.</span><span>+</span>
                            </h2>
                            <h6 class="title">Top Instructors</h6>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img src="assets/images/others/map-shape-3.png" alt="Shape">
                </li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=        Team Area Start       	    =-->
        <!--=====================================-->
        <!-- Start Team Area  -->
        <div class="edu-team-area team-area-5 section-gap-large">
            <div class="container">
                <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <span class="pre-title">Instructors</span>
                    <h2 class="title">Course Instructors</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
                <div class="row g-5">
                    <!-- Start Instructor Grid  -->
                    <div class="col-lg-4 col-md-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-team-grid team-style-2">
                            <div class="inner">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail">
                                        <a href="team-details.html">
                                            <img src="assets/images/team/team-05.webp" alt="team images">
                                        </a>
                                    </div>
                                    <ul class="team-share-info">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="team-details.html">Jane Seymour</a></h5>
                                    <span class="designation">UI Designer</span>
                                    <p>Consectetur adipisicing elit, sed do eius mod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Instructor Grid  -->
                    <!-- Start Instructor Grid  -->
                    <div class="col-lg-4 col-md-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-team-grid team-style-2">
                            <div class="inner">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail">
                                        <a href="team-details.html">
                                            <img src="assets/images/team/team-06.webp" alt="team images">
                                        </a>
                                    </div>
                                    <ul class="team-share-info">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="team-details.html">Edward Norton</a></h5>
                                    <span class="designation">Web Developer</span>
                                    <p>Consectetur adipisicing elit, sed do eius mod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Instructor Grid  -->
                    <!-- Start Instructor Grid  -->
                    <div class="col-lg-4 col-md-6" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-team-grid team-style-2">
                            <div class="inner">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail">
                                        <a href="team-details.html">
                                            <img src="assets/images/team/team-07.webp" alt="team images">
                                        </a>
                                    </div>
                                    <ul class="team-share-info">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="team-details.html">Penelope Cruz</a></h5>
                                    <span class="designation">Digital Marketer</span>
                                    <p>Consectetur adipisicing elit, sed do eius mod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Instructor Grid  -->
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth=".8"></span>
                </li>
                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="shape">
                </li>
                <li class="shape-3" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span></span>
                </li>
            </ul>
        </div>
        <!-- End Team Area  -->
        <!--=====================================-->