{{>header}}

    <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Admissions</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Admissions</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=       Contact Me Area Start       =-->
        <!--=====================================-->
        <div class="edu-campus-area gap-lg-top-equal">
            <div class="container estam-animated-shape">
                <div class="row g-5">
                    <div class="col-xl-7" data-sal-delay="50" data-sal="slide-right" data-sal-duration="800">
                        <div class="campus-image-gallery">
                            <div class="campus-thumbnail">
                                <div class="thumbnail">
                                    <img src="/assets/images/review/wall.jpg" alt="Wall Admin">
                                </div>
                            </div>
                            <ul class="shape-group">
                                <li class="shape-1 scene">
                                    <span data-depth=".8"></span>
                                </li>
                                <li class="shape-2 scene">
                                    <img data-depth="1.5" src="/assets/images/about/shape-21.png" alt="Shape">
                                </li>
                                <li class="shape-3 scene">
                                    <img data-depth="-1.5" src="/assets/images/about/shape-13.png" alt="Shape">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5" data-sal-delay="50" data-sal="slide-left" data-sal-duration="800">
                        <div class="campus-content">
                            <div class="inner">
                                <div class="section-title section-left">
                                    <h2 class="title">Admission <br> Requirement</h2>
                                    <span class="shape-line"><i class="icon-19"></i></span>
                                </div>
                                <div class="features-list">
                                    <div class="features-box color-secondary-style">
                                        <div class="icon">
                                            <i class="icon-30 "></i>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">International Passport</h5>
                                            <p>A valid international passport is a mandatory admission requirement, serving as proof of identity and citizenship.</p>
                                        </div>
                                    </div>
                                    <div class="features-box color-primary-style">
                                        <div class="icon">
                                            <i class="icon-30 art-board-icon"></i>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">WAEC Certificate</h5>
                                            <p>Applicants are required to have five (5) credits IN NOT MORE THAN TWO SITTINGS, in the relevant subjects according to their field of proposed study.</p>
                                        </div>
                                    </div>
                                    <div class="features-box color-extra05-style">
                                        <div class="icon">
                                            <i class="icon-30 "></i>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Birth Certificate</h5>
                                            <p>A certified copy of your birth certificate is necessary for admission, verifying your date of birth accurately.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="shape-group">
                                <li class="shape-4 scene">
                                    <span data-depth=".8"></span>
                                </li>
                                <li class="shape-5 scene">
                                    <span data-depth="2"></span>
                                </li>
                                <li class="shape-6 scene">
                                    <img data-depth="-2" src="/assets/images/about/shape-25.png" alt="Shape">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-gap-large edu-about-area about-style-7">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="about-content">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <h2 class="title">Other Dependencies</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                            </div>
                           <div class="spect">
                             <ul class="features-list" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <li>Candidate with OND, NCE & A'Level Qualification <br> Shall be Consindered Direct Entry to 200 Level.</li>
                                <li>Normal Calendar Student Are Meant to Resume At The <br> Beginning Of First Semester</li>
                                <li>Summer Student Are To Resume By The Beginning Of The <br>Second Semester, They Will Pertake In The Summer Semester <br> Also To Cover Up For The First Semester.</li>
                            </ul>
                            <ul class="features-list" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <li>For Transfer Students: Your Transcript From Your Previous <br> School Will Be Needed In Order To Access Your Grades.</li>
                                <li>Students Are Required to Pay 70% Of Their Tution Fee Before <br> The Beginning Of The First Semester Examination.</li>
                                <li>Summer Students Are Required To Pay 70% Of Thier School Fees <br> Before The Beginning Of Second Semester Examination.</li>
                                <li>JAMB IS NOT REQUIRED.</li>
                            </ul>
                           </div>
                        </div>
                        <h5 class="title">For More Info <a class="fex" href="/contact-us">Contact Us</a></h5>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200"></li>
            </ul>
        </div>
                                            
                                