{{> header}}

    <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Alumni</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Alumni</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=       Why Choose Area Start       =-->
        <!--=====================================-->
        <!-- Start Why Choose Area  -->
        <section class="why-choose-area-3 edu-section-gap">
            <div class="container">
                <div class="row row--45">
                    <div class="section-title-flex section-title" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="left-content">
                            <h2 class="title">Celebrating Our <span class="color-secondary">Accomplished </span>  Alumni</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
                        <div class="right-content">
                            <p>Explore the remarkable journeys of our accomplished alumni as they leave a lasting impact on the world. Discover their inspiring stories, notable achievements, and the invaluable contributions they make in their respective fields.</p>
                        </div>
                    </div>
                </div>

                <div class="row g-5">
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box-2 features-box color-primary-style">
                            <div class="icon">
                                <i class="icon-45"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">High Quality Courses</h4>
                                <p>Discover courses that have shaped successful alumni. Learn from experienced instructors who have guided students to remarkable accomplishments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box-2 features-box color-secondary-style">
                            <div class="icon">
                                <i class="icon-46"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Life Time Access</h4>
                                <p>Gain access to a wealth of knowledge from our expert instructors, who have mentored our esteemed alumni on their path to success.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box-2 features-box color-extra08-style">
                            <div class="icon">
                                <i class="icon-47"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Expert Instructors</h4>
                                <p>Learn from the best to join accomplished alumni. Our courses, taught by expert instructors, shape industry leaders.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1 scene">
                    <span data-depth=".8"></span>
                </li>
                <li class="shape-2 scene">
                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="shape">
                </li>
                <li class="shape-3">
                    <img data-parallax='{"x": 0, "y": 100}' src="assets/images/faq/shape-12.png" alt="shape">
                </li>
            </ul>
        </section>
        <!-- End Why Choose Area  -->
        <!--=====================================-->
      
        <!--=====================================-->
        <!--=       Testimonial Area Start      =-->
        <!--=====================================-->
        <!-- Start Testimonial Area  -->
        <div class="testimonial-area-2 edu-section-gap">
            <div class="container estam-animated-shape">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                            <span class="pre-title">Testimonials</span>
                            <h2 class="title">What Our <span class="color-secondary">Students</span> <br> Have To Say</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                            <p>Read heartfelt testimonials from our students as they share their experiences and thoughts about their educational journey.</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-activation swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo"><img src="assets/images/review/Timi.jpg" alt="Timininu"></div>
                                    <p>This university prepared me for real-world challenges. The knowledgeable faculty, hands-on experiences, and professional network have been invaluable throughout my career.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Timininu</h5>
                                        <h6>Economics</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo"><img src="assets/images/review/Kome.jpg" alt="Ognenekome"></div>
                                    <p>The education I received at this university has been invaluable. The job placement assistance and ongoing professional development opportunities have made a significant impact.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Ogehnekome</h5>
                                        <h6>Accounting</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo"><img src="assets/images/review/Eliz.jpg" alt="Elizabeth"></div>
                                    <p>As an alum, I credit this university for my achievements. The challenging curriculum, dedicated faculty, and alumni events have fostered lifelong learning and growth.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Elizbeth</h5>
                                        <h6>Accounting</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo">
                                        <img src="assets/images/review/Tife.jpg" alt="Tife"></div>
                                    <p>I cherish the memories and education gained at this university. The lifelong learning resources and networking opportunities have been truly exceptional.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Tife</h5>
                                        <h6>Human Resource</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo">
                                        <img src="assets/images/review/Ibrahim.jpg" alt="Ibrahim"></div>
                                    <p>This prestigious university was transformative, offering rigorous academics, engaging courses, and valuable networking opportunities that shaped my post-graduation success</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Ibrahim</h5>
                                        <h6>Political Science</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo">
                                        <img src="assets/images/review/Deborah.jpg" alt="Deborah"></div>
                                    <p>Attending this university was a transformative experience. The rigorous academics, engaging courses, and networking opportunities have continued to benefit me long after graduation.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Deborah</h5>
                                        <h6>Bussiness Administration</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo">
                                        <img src="assets/images/review/Oreoluwa.jpg" alt="Oreoluwa"></div>
                                    <p>As an alum, I'm grateful for the strong foundation this university provided. The professors and resources propelled me towards a successful career in my field.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Oreoluwa</h5>
                                        <h6>Political</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo"><img src="assets/images/review/Tosin.jpg" alt="Tosin"></div>
                                    <p>ESTAM UNIVERSITY provided an exceptional education. The computer science program was fascinating, and the professors' real-world examples made learning enjoyable. I graduated with immediate career success.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Tosin</h5>
                                        <h6>Computer Science</h6>
                                        <p>Set Of 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-slide">
                                <div class="content">
                                    <div class="logo"><img src="assets/images/review/Barthlomew.jpg" alt="Tosin"></div>
                                    <p>I owe my professional success to the invaluable education I received here. The university's mentorship programs and alumni connections have opened doors for me.</p>
                                    <div class="rating-icon">
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                        <i class="icon-23"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="info">
                                        <h5 class="title">Barthlomew</h5>
                                        <h6>Sociology</h6>
                                        <p>Set Of 2021</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <ul class="shape-group">
                    <li class="shape-1 scene" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">
                        <img data-depth="1.4" src="assets/images/about/shape-30.png" alt="Shape">
                    </li>
                    <li class="shape-2 scene" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">
                        <img data-depth="-1.4" src="assets/images/about/shape-25.png" alt="Shape">
                    </li>
                </ul>
            </div>
            <ul class="shape-group">
                <li class="shape-3" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">
                    <img src="assets/images/others/map-shape-3.png" alt="Shape">
                </li>
            </ul>
        </div>
        <!-- End Testimonial Area  -->
        <!--=====================================-->
        <!--=       CounterUp Area Start        =-->
        <!--=====================================-->
        <div class="counterup-area-7 section-gap-equal">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5">
                        <div class="counterup-content">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title">Fun Facts</span>
                                <h2 class="title">The Learge <span class="color-secondary">Number</span> of Counting</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p>Discover the outstanding accomplishments of our esteemed alumni who have made their mark in various fields. Celebrate their remarkable achievements and be inspired by their success stories.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="counterup-box-wrap">
                            <div class="counterup-box counterup-box-1">
                                <div class="edu-counterup counterup-style-2">
                                    <h2 class="counter-item count-number primary-color">
                                        <span class="odometer" data-odometer-final="3320">.</span><span>+</span>
                                    </h2>
                                    <h6 class="title">Student Enrolled</h6>
                                </div>
                                <div class="edu-counterup counterup-style-2">
                                    <h2 class="counter-item count-number secondary-color">
                                        <span class="odometer" data-odometer-final="343">.</span><span>+</span>
                                    </h2>
                                    <h6 class="title">Class Completed</h6>
                                </div>
                            </div>
                            <div class="counterup-box counterup-box-2">
                                <div class="edu-counterup counterup-style-2">
                                    <h2 class="counter-item count-number extra05-color">
                                        <span class="odometer" data-odometer-final="105">.</span><span>+</span>
                                    </h2>
                                    <h6 class="title">Top Instructors</h6>
                                </div>
                                <div class="edu-counterup counterup-style-2">
                                    <h2 class="counter-item count-number extra02-color">
                                        <span class="odometer" data-odometer-final="99.9">.</span><span>%</span>
                                    </h2>
                                    <h6 class="title">Satisfaction Rate</h6>
                                </div>
                            </div>
                            <ul class="shape-group">
                                <li class="shape-1 scene">
                                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="Shape">
                                </li>
                                <li class="shape-2">
                                    <img class="rotateit" src="assets/images/counterup/shape-02.png" alt="Shape">
                                </li>
                                <li class="shape-3 scene">
                                    <img data-depth="1.6" src="assets/images/counterup/shape-04.png" alt="Shape">
                                </li>
                                <li class="shape-4 scene">
                                    <img data-depth="-1.6" src="assets/images/counterup/shape-05.png" alt="Shape">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=====================================-->
        <!--=        Team Area Start       	    =-->
        <!--=====================================-->
       