{{>header}}

    <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Apply</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Apply</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=       Contact Me Area Start       =-->
        <!--=====================================-->

        <section class="contact-us-area">
            <div class="container">
                <div class="row g-5">
                    <div class="col-xl-4 col-lg-6">
                        <div class="contact-us-info">
                            <h3 class="heading-title">ESTAM UNIVERSITY (SEGBEYA CAMPUS) ONLINE APPLICATION</h3>
                                <div>
                                    <h4>GENERAL ENTRY REQUIREMENTS</h4>
                                    <h6>
                                        All applicants to Ecole Superieure Des Technologies Avancees et de Management degree programmes must have Credit-level passes in five relevant subjects at the O'level.
                                    </h6>

                                    <br>

                                    <h4>DIRECT ENTRY REQUIREMENTS</h4>
                                    <h6>
                                        In addition to the O'level requirements stated above, the university admits into 200 level undergraduates programmes via Direct Entry for candidates with A/L passes at its equivalents in the required subjects, or National Diploma(ND), Higher National Diploma(HND), and National Certificate of Education(NCE).
                                    </h6>
                                </div>
                                <br>
                            <ul class="address-list">
                                <li>
                                    <h5 class="title">Address</h5>
                                    <p>148, Von Adjavon, En face d'Eglise Gbiba Wiwe, Segbeya, Akpakpa, Cotonou</p>
                                </li>
                                <li>
                                    <h5 class="title">Email</h5>
                                    <p><a href="mailto:estam@example.com">estam@example.com</a></p>
                                </li>
                                <li>
                                    <h5 class="title">Phone</h5>
                                    <p><a href="tel:+0914135548598">(+229) 98 59 72 34 or (+234) 806 688 4850 </a></p>
                                </li>
                            </ul>
                            <ul class="social-share">
                                <li><a href="https://www.instagram.com/estam_uni/"><i class="icon-instagram" target="_blank"></i></a></li>
                                <li><a href="https://web.facebook.com/ESTAM.CEG.SEGBEYA/" target="_blank"><i class="icon-facebook"></i></a></li>
                                <li><a href="https://twitter.com/estamUni" target="_blank"><i class="icon-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/school/estamuniversity/" target="_blank"><i class="icon-linkedin2" ></i></a></li>
                            </ul>
                        </div>
                        <br>
                        <div class="isotope-list gallery-grid-wrap">
                        {{!-- <div id="animated-thumbnials">
                            <a href="assets/images/gallery/gallery-01.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-01.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-02.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-02.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-03.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education health">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-03.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-04.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-04.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-05.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-05.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-06.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item health">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-06.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-07.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-07.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-08.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing health">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-08.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-09.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-09.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>

                        </div> --}}
                        </div>
                    </div>
                    <div class="offset-xl-2 col-lg-6">
                        <div class="contact-form form-style-2" style="width: 1000px; justify-content: center; align-items: center;">
                            <div class="section-title">
                                <h4 class="title">Apply NOW!</h4>
                                <p>PLEASE COMPLETE THE FORM CAREFULLY AND CORRECTLY AS EVERY INFORMATION ENTERED WILL BE VERIFIED ACCORDINGLY.</p>
                            </div>
                            <form class="rnt-contact-form rwt-dynamic-form" id="contact-form" method="POST" action="https://getform.io/f/6d47ce74-6347-4df5-aa6b-e2e2924bb5b8" enctype="multipart/form-data">
                            <br>
                                <legend>Personal information</legend>
                                <div class="row row--10">
                                    <div class="form-group col-12">
                                        <input type="text" name="Name" id="name" placeholder="Enter your full name" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="dob"><br> Date Of Birth</label>
                                        <input type="date" name="Date Of Birth" id="dob" required style="border: 0; border-bottom: 1px solid #cecece; color: #7e7b7b;">
                                    </div>
                                    <label for="gender" style="color: #000;"><br> Gender:</label>
                                    <select name="Gender" id="gender" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <div class="form-group col-12">
                                        <input type="email" name="E-mail" id="email" placeholder="Enter your email" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="tel" name="Phone" id="phone" placeholder="Phone number" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <textarea name="address" id="Address" cols="30" rows="3" placeholder="Enter your address" required></textarea>
                                    </div>
                                    <div class="form-group col-12">
                                    <label for="degree"><br> Next of Kin Details</label>
                                    <input type="text" name="Next of Kin's name" id="nok-name" placeholder="Name" required>
                                    <textarea name="Next of Kin's Address" id="nok-address" cols="30" rows="3" placeholder="Address" required></textarea>
                                    <input type="email" name="Next of Kin's E-mail" id="nok-email" placeholder="E-mail" required>
                                    <input type="text" name="Relationship with Next Of Kin" id="nok-relationship" placeholder="Relationship" required>
                                    </div>
                                    <legend><br> <br> Educational Background</legend>
                                    <div class="form-group col-12">
                                        <input type="text" name="Secondary School name" id="ss-name" placeholder="Secondary school name" required>
                                    </div>
                                    <label for="doc1"><br> Upload Credentials: WAEC RESULT, LGA IDENTIFICATION, BIRTH CERTIFICATE/AGE DECLARATION</label>
                                    <input type="file" id="doc1" name="Certificate1" required accept=".pdf,.doc,.docx,.png,.jpg,.jpeg">
                                    <input type="file" id="doc2" name="Certificate2" required accept=".pdf,.doc,.docx,.png,.jpg,.jpeg">
                                    <label for="doc2" >Upload Passport Photograph</label>
                                    <input type="file" id="doc3" name="Passport Photograph" required accept=".pdf,.doc,.docx,.png,.jpg,.jpeg">
                                    <legend><br> Program Information</legend>
                                    <label for="course">Course of Study</label>
                                    <select id="course" name="Course of Study" required>
                                        <option value="">--Select--</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Banking and Finance">Banking and Finance</option>
                                        <option value="Business Administration">Business Administration</option>
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Computer Engineering">Computer Engineering</option>
                                        <option value="Economics">Economics</option>
                                        <option value="Environmental Science">Environmental Science</option>
                                        <option value="Human Resource Management">Human Resource Management</option>
                                        <option value="International Relations">International Relations</option>
                                        <option value="Management Information Technology">Management Information Technology</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Mass Communication">Mass Communication</option>
                                        <option value="Political Science">Political Science</option>
                                        <option value="Public Administration">Public Administration</option>
                                        <option value="Sociology">Sociology</option>
                                        <option value="Transport and Logistics Management">Transport and Logistics Management</option>
                                    </select>
                                    <div class="form-group col-12">
                                        <input type="text" name="Intended start date" id="start-date" placeholder="Intended start date" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="text" name="Campus Location" id="campus-location" placeholder="Campus Location" required>
                                    </div>
                                    <label for="degree"><br> Degree Type</label>
                                    <select name="Degree Type" id="degree" required>
                                        <option value="Bachelor's degree">Bachelor's degree</option>
                                        <option value="Master's degree">Master's degree</option>
                                    </select>
                                    <label for="degree"><br> If Bachelor's Degree, what level?</label>
                                    <select name="If Bachelor's Degree, what level?" id="degree">
                                        <option value="">--Select--</option>
                                        <option value="100L">100L</option>
                                        <option value="200L">200L</option>
                                        <option value="300L">300L</option>
                                    </select>
                                    <legend><br><br> Additional Information <br></legend>
                                    <div class="form-group col-12">
                                        <textarea name="Extracurricular Activities, Hobbies or Interests" id="activities" cols="30" rows="3" placeholder="Extracurricular Activities, Hobbies or Interests" required></textarea>
                                    </div>
                                    <div class="form-group col-12">
                                        <textarea name="Who introduced you to ESTAM University, Segbeya Campus?" id="intro" cols="30" rows="2" placeholder="Who introduced you to ESTAM University, Segbeya Campus?" required></textarea>
                                    </div>

                                    <div class="form-group col-12">
                                        <button class="rn-btn edu-btn btn-medium submit-btn" type="button" id="submit" style="width: 100%; font-style: italic;" onclick="submitForm(this)">Apply <i class="icon-4"></i></button>
                                    </div>
                                </div>
                            </form>

                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                            <script>
                                function submitForm(button) {
                                    var formElement = document.getElementById('contact-form');

                                    // Check if the form is valid
                                    if (formElement.checkValidity()) {
                                        var formData = new FormData(formElement);

                                        // Disable the button and change the text to "Loading"
                                        button.disabled = true;
                                        button.innerHTML = 'Loading...';

                                        fetch('https://getform.io/f/6d47ce74-6347-4df5-aa6b-e2e2924bb5b8', {
                                            method: 'POST',
                                            body: formData
                                        })
                                        .then(function(response) {
                                        // Handle the response here if needed
                                        console.log(response);

                                        // Display SweetAlert confirmation message
                                        Swal.fire({
                                        icon: 'success',
                                        title: 'Form Submitted',
                                        text: 'Your form has been submitted successfully!',
                                        confirmButtonText: 'OK'
                                        });

                                        // Reset the form after successful submission
                                        formElement.reset();

                                        // Enable the button and change the text back to "Apply"
                                        button.disabled = false;
                                        button.innerHTML = 'Apply <i class="icon-4"></i>';
                                        })
                                        .catch(function(error) {
                                        // Handle any errors here
                                        console.error(error);

                                        // Display SweetAlert error message
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'Something went wrong!',
                                            confirmButtonText: 'OK'
                                        });

                                        // Enable the button and change the text back to "Apply"
                                        button.disabled = false;
                                        button.innerHTML = 'Apply <i class="icon-4"></i>';
                                        });
                                    } 
                                    else {
                                    // If the form is not valid, display an error message or handle it as desired
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Validation Error',
                                        text: 'Please fill in all required fields.',
                                        confirmButtonText: 'OK'
                                    });
                                    }
                                }
                            </script>
                            

                            <style>
                                #contact-form legend{
                                    color: #000a38; 
                                    font-style: italic; 
                                    font-weight: 500;
                                }
                            </style>                          



                            <ul class="shape-group">
                                <li class="shape-1 scene"><img data-depth="1" src="assets/images/about/shape-13.png" alt="Shape"></li>
                                <li class="shape-2 scene"><img data-depth="-1" src="assets/images/counterup/shape-02.png" alt="Shape"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--=====================================-->
        <!--=      Google Map Area Start        =-->
        <!--=====================================-->
        <div class="google-map-area">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=6.38551,2.44489&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
