{{>header}}
        <!--=====================================-->
        <!--=       Contact Me Area Start       =-->
        <!--=====================================-->
        <section class="contact-us-area">
            <div class="container">
                <div class="row g-5">
                    <div class="col-xl-4 col-lg-6">
                        <div class="contact-us-info">
                            <h3 class="heading-title">We're Always Eager to Hear From You!</h3>
                            <ul class="address-list">
                                <li>
                                    <h5 class="title">Address</h5>
                                    <p>Studio 76d, Riley Ford, North Michael chester, CF99 6QQ</p>
                                </li>
                                <li>
                                    <h5 class="title">Email</h5>
                                    <p><a href="mailto:estam@example.com">estam@example.com</a></p>
                                </li>
                                <li>
                                    <h5 class="title">Phone</h5>
                                    <p><a href="tel:+0914135548598">(+091) 413 554 8598</a></p>
                                </li>
                            </ul>
                            <ul class="social-share">
                                <li><a href="#"><i class="icon-share-alt"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-xl-2 col-lg-6">
                        <div class="contact-form form-style-2">
                            <div class="section-title">
                                <h4 class="title">Apply NOW!</h4>
                                <p>Fill out this form for booking a consultant advising session.</p>
                            </div>
                            <form class="rnt-contact-form rwt-dynamic-form" id="contact-form" method="POST" action="mail.php"><br>
                                <legend style="color: #000a38; font-style: italic; font-weight: 500";>Personal information</legend>
                                <div class="row row--10">
                                    <div class="form-group col-12">
                                        <input type="text" name="contact-name" id="contact-name" placeholder="Enter your name" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="text" name="dob" id="dob" placeholder="Date of birth dd/mm/yyyy" required>
                                    </div>
                                    <label for="gender"><br> Gender:</label>
                                    <select name="gender" id="gender" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="non-binary">Non-binary</option>
                                        <option value="prefer-not-to-say">Prefer not to say</option>
                                    </select>
                                    <div class="form-group col-12">
                                        <input type="email" name="contact-email" id="contact-email" placeholder="Enter your email" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="tel" name="contact-phone" id="contact-phone" placeholder="Phone number" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <textarea name="contact-message" id="contact-message" cols="30" rows="3" placeholder="Enter your address" required></textarea>
                                    </div>
                                    <legend style="color: #000a38; font-style: italic; font-weight: 500";><br> Educational Background</legend>
                                    <div class="form-group col-12">
                                        <input type="text" name="secondary-school-name" id="secondary-school-name" placeholder="Secondary school name" required>
                                    </div>
                                    <label for="document"><br> Upload your Secondary School Certificate:</label>
                                        <input type="file" id="document" name="document" required>
                                    <legend style="color: #000a38; font-style: italic; font-weight: 500";>Program Information</legend>
                                    <label for="program-of-interest"><br> Program of Interest</label>
                                    <select id="program-of-interest" name="program-of-interest" required>
                                        <option value="">--Select--</option>
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                                        <option value="Biology">Biology</option>
                                        <option value="Business Administration">Business Administration</option>
                                        <option value="Psychology">Psychology</option>
                                    </select>
                                    <div class="form-group col-12">
                                        <input type="text" name="start-date" id="start-date" placeholder="Intended start date" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="text" name="campus-location" id="campus-location" placeholder="Campus Location" required>
                                    </div>
                                    <label for="degree"><br> Degree Type</label>
                                    <select name="degree" id="degree" required>
                                        <option value="bachelor">Bachelor's degree</option>
                                        <option value="masters">Master's degree</option>
                                    </select>
                                    <legend style="color: #000a38; font-style: italic; font-weight: 500";><br> Additional Information <br></legend>
                                    <div class="form-group col-12">
                                        <textarea name="activities" id="activities" cols="30" rows="3" placeholder="Extracurricular Activities, Hobbies, or Interests" required></textarea>
                                    </div>

                                    <div class="form-group col-12">
                                        <button class="rn-btn edu-btn btn-medium submit-btn" name="submit" type="submit">Apply <i class="icon-4"></i></button>
                                    </div>
                                </div>
                            </form>
                            <ul class="shape-group">
                                <li class="shape-1 scene"><img data-depth="1" src="assets/images/about/shape-13.png" alt="Shape"></li>
                                <li class="shape-2 scene"><img data-depth="-1" src="assets/images/counterup/shape-02.png" alt="Shape"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--=====================================-->
        <!--=      Google Map Area Start        =-->
        <!--=====================================-->
        <div class="google-map-area">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=cotonou,%20Benin&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
