{{> header}}

    <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Campus Life</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Campus Life</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Event Area Start         =-->
        <!--=====================================-->
        <div class="edu-event-area event-area-1 section-gap-equal">
            <div class="container">
                <div class="row g-5">
                    {{!-- <div class="col-lg-3 order-lg-2">
                        <div class="course-sidebar-2"> --}}
                            {{!-- <div class="edu-course-widget widget-category">
                                <div class="inner">
                                    <h5 class="widget-title">Categories</h5>
                                    <div class="content">
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="cat-check1" checked>
                                            <label for="cat-check1">Art &amp; Design <span>(7)</span></label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="cat-check2">
                                            <label for="cat-check2">Development <span>(2)</span></label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="cat-check3">
                                            <label for="cat-check3">Business <span>(3)</span></label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="cat-check4">
                                            <label for="cat-check4">Marketing <span>(6)</span></label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="cat-check5">
                                            <label for="cat-check5">Academics <span>(2)</span></label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="cat-check6">
                                            <label for="cat-check6">Data Science <span>(9)</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edu-course-widget widget-date-filter">
                                <div class="inner">
                                    <h5 class="widget-title">Date</h5>
                                    <div class="content">
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="date-check1">
                                            <label for="date-check1">Any Day</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="date-check2">
                                            <label for="date-check2">Today</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="date-check3">
                                            <label for="date-check3">Tomorrow</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="date-check4">
                                            <label for="date-check4">This Week</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="date-check5">
                                            <label for="date-check5">This Month</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edu-course-widget widget-cities">
                                <div class="inner">
                                    <h5 class="widget-title">Cities</h5>
                                    <div class="content">
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="city-check1">
                                            <label for="city-check1">All Cities</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="city-check2">
                                            <label for="city-check2">Japan</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="city-check3">
                                            <label for="city-check3">New York</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="city-check4">
                                            <label for="city-check4">England</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="city-check5">
                                            <label for="city-check5">Mascow</label>
                                        </div>
                                        <div class="edu-form-check">
                                            <input type="checkbox" id="city-check6">
                                            <label for="city-check6">Paris</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    <div class="col-lg-9 order-lg-1 col-pr--35">
                        <div class="row g-5">
                            <div class="col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="edu-event-list event-list-2">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="event-details.html">
                                                <img src="assets/images/event/event-14.png" alt="Event Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            {{!-- <ul class="event-meta">
                                                <li><i class="icon-27"></i>Oct 10, 2023</li>
                                                <li><i class="icon-33"></i>08:00AM-10:00PM</li>
                                            </ul> --}}
                                            <h4 class="title"><a href="./excursion">Excursion</a></h4>
                                            {{!-- <span class="event-location"><i class="icon-40"></i>Newyork City, USA</span> --}}
                                            <p>Explore the Surrounding Area with Our Excursions: From Outdoor Adventures to Cultural Immersions</p>
                                            <div class="read-more-btn">
                                                <a class="edu-btn btn-medium btn-border" href="./excursion">See More <i class="icon-4"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="edu-event-list event-list-2">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="event-details.html">
                                                <img src="assets/images/event/event-15.png" alt="Event Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            {{!-- <ul class="event-meta">
                                                <li><i class="icon-27"></i>Oct 10, 2023</li>
                                                <li><i class="icon-33"></i>08:00AM-10:00PM</li>
                                            </ul> --}}
                                            <h4 class="title"><a href="./craft-week">Craft Week/ Freshers' Night</a></h4>
                                            {{!-- <span class="event-location"><i class="icon-40"></i>Newyork City, USA</span> --}}
                                            <p>Experience the Best of Campus Life: Join us for a Range of Fun-Filled Events and Activities to Help You Settle In and Meet New Friends</p>
                                            <div class="read-more-btn">
                                                <a class="edu-btn btn-medium btn-border" href="craft-week">See More <i class="icon-4"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="edu-event-list event-list-2">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="event-details.html">
                                                <img src="assets/images/event/event-16.jpg" alt="Event Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="event-details.html">Christmas Carols</a></h4>
                                            <p>Festive Celebrations to Get You in the Holiday Spirit: Experience the Magic of Christmas through Music and Community with Our Annual Christmas Carol Sing-Along Event</p>
                                            <div class="read-more-btn">
                                                <a class="edu-btn btn-medium btn-border" href="./christmas-carols">See More <i class="icon-4"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="edu-event-list event-list-2">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="event-details.html">
                                                <img src="assets/images/event/event-17.jpg" alt="Event Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="event-details.html">Students' Week</a></h4>
                                            <p>A Fun-Filled Week of Activities to Celebrate Student Life: Join the Fun and Celebrate Student Life with Our Exciting Annual Students' Week Events</p>
                                            <div class="read-more-btn">
                                                <a class="edu-btn btn-medium btn-border" href="./students-week">See More <i class="icon-4"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="edu-event-list event-list-2">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="event-details.html">
                                                <img src="assets/images/event/event-19.jpg" alt="Event Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="event-details.html">Football Matches</a></h4>
                                            <p> Cheer on Our Campus Teams at Home Games: Join the Excitement and Cheer for Our Campus Football Teams</p>
                                            <div class="read-more-btn">
                                                <a class="edu-btn btn-medium btn-border" href="./football-matches">See More <i class="icon-4"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="edu-event-list event-list-2">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a href="event-details.html">
                                                <img src="assets/images/event/event-18.png" alt="Event Images">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a href="event-details.html">Students Fellowship</a></h4>
                                            <p> Growing in Faith and Community: Join Our Students Fellowship to Deepen Your Relationship with Christ and Connect with Like-Minded Peers</p>
                                            <div class="read-more-btn">
                                                <a class="edu-btn btn-medium btn-border" href="./students-fellowship">See More <i class="icon-4"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>

