{{>header}}

        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Christmas Carols</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Campus Life</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Christmas Carols</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Event Area Start         =-->
        <!--=====================================-->
        <section class="event-details-area edu-section-gap">
            <div class="container">
                <div class="event-details">
                    <div class="main-thumbnail">
                        <img src="assets/images/event/event-22.jpg" alt="Event" style="display: flex; justify-content: center; align-items: center; width: 1000px; margin: 0 auto;">
                    </div>
                    <div class="row row--30" style="display: flex; justify-content: center; flex-direction: column;align-items: center;">
                        <div class="col-lg-8">
                            <div class="details-content">
                                <h3>About Christmas Carols</h3>
                                <p>The holiday season is a special time of year, and at our university, we love to celebrate in style. Our Christmas Carol event is one of the highlights of the year, featuring student-led performances of classic carols. This is a great way to get into the holiday spirit and to connect with your fellow students and faculty.</p>
                                <p>During the Christmas Carol event, you can expect to hear beautiful renditions of your favorite carols, including "Silent Night," "Joy to the World," and "Hark! The Herald Angels Sing." Our talented students and staff come together to create a magical atmosphere that will leave you feeling uplifted and inspired. It can also include information about special performances by student music groups, such as choirs or orchestras, that showcase their talents and spread holiday cheer</p>
                                <p>Overall, the Christmas Carol section is a key part of campus life during the holiday season and can bring together students from all walks of life to celebrate together.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
                <div class="isotope-list gallery-grid-wrap">

                    <h4 style="text-align: center;">Pics coming soon...</h4>
                        {{!-- <div id="animated-thumbnials">


                            <a href="assets/images/event/26.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/event/26.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/28.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                                <div class="thumbnail">
                                    <img src="assets/images/event/28.jpg" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/28.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/28.jpg" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/29.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                                <div class="thumbnail">
                                    <img src="assets/images/event/29.jpg" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/30.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/event/30.jpg" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/29.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/29.jpg" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a> --}}


                            {{!-- <a href="assets/images/event/26.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/event/26.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/26.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/26.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/26.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/event/26.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a> --}}

                        </div>
                    </div>
                </div>
            </div>
        </section>