{{>header}}

<!--=====================================-->
<!--=       Breadcrumb Area Start      =-->
<!--=====================================-->


<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Contact Us</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
    </ul>
</div>

<!--=====================================-->
<!--=       Contact Me Area Start       =-->
<!--=====================================-->
<section class="contact-us-area">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-4 col-lg-6">
                <div class="contact-us-info">
                    <h3 class="heading-title">We're Always Eager to Hear From You!</h3>
                    <ul class="address-list">
                        <li>
                            <h5 class="title">Address</h5>
                            <p>Ayelawadje kajakumo en fance eglise Gbigbo wiiwe, Cotonou, Republic of Benin</p>
                        </li>
                        <li>
                            <h5 class="title">Email</h5>
                            <p><a href="mailto:info@estamuni.net">info@estamuni.net</a></p>
                        </li>
                        <li>
                            <h5 class="title">Phone</h5>
                            <p><a href="tel:+22998597234">(+229) 98 59 72 34</a> or <a href="tel:+2348066884850">(+234) 806 688 4850 </a></p>
                        </li>
                    </ul>
                    <ul class="social-share">
                        <li><a href="https://www.instagram.com/estam_uni/"><i class="icon-instagram"
                                    target="_blank"></i></a></li>
                        <li><a href="https://web.facebook.com/ESTAM.CEG.SEGBEYA/" target="_blank"><i
                                    class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/estamUni" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/school/estamuniversity/" target="_blank"><i
                                    class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>

            

  
            <div class="offset-xl-2 col-lg-6">
                <div class="contact-form form-style-2">
                    <div class="section-title">
                        <h4 class="title">Get In Touch</h4>
                        <p>Reach Out to Us for Any Inquiries, Feedback or Assistance <br>
                            We're Here to Help You Navigate Your Educational Journey and Provide the Support You Need!
                        </p>
                    </div>
                    <form class="rnt-contact-form rwt-dynamic-form" id="contact-form" method="POST"
                        action="submit-contact">
                        <div class="row row--10">
                            <div class="form-group col-12">
                                <input type="text" name="name" id="contact-name" placeholder="Your name">
                            </div>
                            <div class="form-group col-12">
                                <input type="email" name="email" id="contact-email" placeholder="Enter your email">
                            </div>
                            <div class="form-group col-12">
                                <input type="tel" name="phone" id="contact-phone" placeholder="Phone number">
                            </div>
                            
                              <!-- hidden fields to prevent $pam bOt-->
                              <input type="text" name="honeypot" style="display: none;">
                              <input type="text" name="anotherhiddenfield" style="display: none;">

                            <div class="form-group col-12">
                                <textarea name="message" id="contact-message" cols="30" rows="4"
                                    placeholder="Your message"></textarea>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LfDB0MnAAAAAJFVvQx-zIqenvBZu_hxRqwibJNy" ></div>
                            <div class="form-group col-12">
                            <button class="rn-btn edu-btn btn-medium submit-btn" type="submit" id="submit-contact"
                                    name="submit" style="font-style: italic;">Submit Message <i
                                        class="icon-4"></i></button>

                            </div>
                        </div>
                    </form>
                    <ul class="shape-group">
                        <li class="shape-1 scene"><img data-depth="1" src="assets/images/about/shape-13.png"
                                alt="Shape"></li>
                        <li class="shape-2 scene"><img data-depth="-1" src="assets/images/counterup/shape-02.png"
                                alt="Shape"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=      Google Map Area Start        =-->
<!--=====================================-->
<div class="google-map-area">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe id="gmap_canvas"
                src="https://maps.google.com/maps?q=6.38551,2.44489&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>

<!-- Contact page recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
    // Handle Career Services Form submission
    const contactForm = document.getElementById('contact-form');
    const contactButton = document.getElementById('submit-contact');

    contactForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        if (typeof grecaptcha !== 'undefined') {
        const recaptchaResponse = grecaptcha.getResponse();

        if (!recaptchaResponse) {
            Swal.fire({
                icon: 'error',
                title: 'reCAPTCHA Error',
                text: 'Please complete the reCAPTCHA challenge.',
                confirmButtonText: 'OK'
            });

            return; // Stop form submission if reCAPTCHA is not completed
        }
    } else {
        console.error('reCAPTCHA script not loaded.');
        // Display SweetAlert error message
        Swal.fire({
            icon: 'error',
            title: 'reCAPTCHA Error',
            text: 'An error occurred while loading reCAPTCHA.',
            confirmButtonText: 'OK'
        });

        return; // Stop form submission if reCAPTCHA script is not loaded
    }

        function onSubmit(token) {
         document.getElementById("contact-form").submit();
        }

        const form = event.target;
        const formData = new URLSearchParams(new FormData(form));

        // Disable the button and change the text to "Loading"
        contactButton.disabled = true;
        contactButton.innerHTML = 'Loading...';

        // Validate form fields
        const contactName = formData.get('name');
        const contactEmail = formData.get('email');
        const contactPhone = formData.get('phone');
        const contactMessage = formData.get('message');

        if (!contactName || !contactEmail || !contactPhone || !contactMessage) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'Please fill in all required fields.',
                confirmButtonText: 'OK'
            });

            // Enable the button and change the text back to "Submit Message"
            contactButton.disabled = false;
            contactButton.innerHTML = 'Submit Message <i class="icon-4"></i>';
            return;
        }

        try {
            const response = await fetch('/submit-contact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData
            });

            if (response.ok) {
                // Form submitted successfully
                Swal.fire({
                    icon: 'success',
                    title: 'Form Submitted',
                    text: 'Your message has been submitted successfully!',
                    confirmButtonText: 'OK'
                });


                // Reset the form after successful submission
                contactForm.reset();

                // Enable the button and change the text back to "Submit Message"
                contactButton.disabled = false;
                contactButton.innerHTML = 'Submit Message <i class="icon-4"></i>';

            } else {
                // Error submitting form
                console.error('Error submitting form:', response.statusText);
                // Display SweetAlert error message
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Message sending failed!',
                    confirmButtonText: 'OK'
                });

                // Enable the button and change the text back to "Submit Message"
                contactButton.disabled = false;
                contactButton.innerHTML = 'Submit Message <i class="icon-4"></i>';
            }
        } catch (error) {
            console.error('An error occurred:', error);
            // Display SweetAlert error message
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
                confirmButtonText: 'OK'
            });

            // Enable the button and change the text back to "Submit Message"
            contactButton.disabled = false;
            contactButton.innerHTML = 'Submit Message <i class="icon-4"></i>';
        }
    });
</script>