{{>header}}

        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Craft Week / Freshers' Night </h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Campus Life</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Craft Week</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Event Area Start         =-->
        <!--=====================================-->
        <section class="event-details-area edu-section-gap">
            <div class="container">
                <div class="event-details">
                    <div class="main-thumbnail">
                        <img src="assets/images/event/41.jpg" alt="Event" style="display: flex; margin: 0 auto; justify-content: center; align-items: center; width: 100%; height:auto; max-width: 470px">
                    </div>
                    <div class="row row--30" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                        <div class="col-lg-8">
                            <div class="details-content">
                                <h3>About Craft Week and Freshers' Night</h3>
                                <p>You will have the opportunity to participate in our exciting Craft Week and Freshers' Night events. During Craft Week, you can learn new skills and create unique crafts with the help of our talented instructors. From graphic designing to catering, there's something for everyone. You also get to play fun indoor and outdoor games, participate in competitions like food challenges, Talent show and more... </p>

                                <p>Freshers' Night is a chance for you to socialize and make new friends. Typically, there are a variety of fun activities and events organized, including music, dancing, games, and free food. It's a great way for new students to get to know each other, make new friends, and feel more comfortable in their new environment. These events are the perfect way to start your university experience and make lasting memories.</p>

                                <p>Overall, these events are just a small part of the exciting and vibrant campus life that awaits new students. Whether it's exploring the local area, participating in clubs and organizations, attending sporting events, or simply hanging out with friends, there's always something to do and see on campus.</p>
        
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
                    <div class="isotope-list gallery-grid-wrap">
                        <div id="animated-thumbnials">

                            <h3 style="text-align: center;">Pics coming soon...</h3>

                            {{!-- <a href="assets/images/event/57.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing" style="rotate: 270deg;">
                                <div class="thumbnail">
                                    <img src="assets/images/event/57.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/51.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/51.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/58.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                                <div class="thumbnail">
                                    <img src="assets/images/event/58.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a> --}}


                            {{!-- <a href="assets/images/event/41.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/event/41.jpg" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a> --}}


                            {{!-- <a href="assets/images/event/48.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/event/48.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>

                            <a href="assets/images/event/39.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/49.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a> --}}


                            {{!-- <a href="assets/images/gallery/gallery-08.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing health">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-08.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/gallery/gallery-09.webp" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/gallery/gallery-09.webp" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a> --}}

                        </div>
                    </div>
                </div>
            </div>
        </section>