{{>header}}

        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Excursion</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Excursion</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Event Area Start         =-->
        <!--=====================================-->
        <section class="event-details-area edu-section-gap">
            <div class="container">
                <div class="event-details">
                    <div class="main-thumbnail">
                        <img src="assets/images/event/event-21.jpg" alt="Event">
                    </div>
                    <div class="row row--30" style="display: flex; justify-content: center; flex-direction: column;align-items: center;">
                        <div class="col-lg-8">
                            <div class="details-content">
                                <h3> About Excursion</h3>
                                <p>As part of our commitment to providing a well-rounded University experience, ESTAM University offers a range of excursions designed to give students a taste of local culture and attractions. From sporting events to music festivals to food tours, there's always something going on in our vibrant city. And with our convenient transportation options and knowledgeable guides, it's easy to participate and have a great time.</p>
                                <p>There are plenty of exciting destinations to choose from, ranging from nearby museums, national parks and cultural landmarks, to trips to neighboring cities and states.</p>
                                <p>In addition to local excursions, we also organize trips to nearby cities and attractions to give students a chance to explore beyond the campus. These trips may include visits to historical sites, museums, national parks, and other popular destinations. Excursions are usually led by experienced guides who provide information and insights about the places being visited. They are a great way to learn about different cultures and ways of life, as well as to build new friendships and connections with other students. So, whether you are interested in exploring the local area or venturing further afield, we have plenty of exciting excursions to suit every interest and budget.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
                <div class="isotope-list gallery-grid-wrap">
                        <div id="animated-thumbnials"> 

                            <style>
                                .thumbnail{
                                    width: 325px;
                                }
                            </style>

                            <a href="assets/images/event/15.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/15.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/18.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                                <div class="thumbnail">
                                    <img src="assets/images/event/18.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/16.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/event/16.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/20.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/20.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/19.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/event/19.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/17.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item health">
                                <div class="thumbnail">
                                    <img src="assets/images/event/17.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/13.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                                <div class="thumbnail">
                                    <img src="assets/images/event/13.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/14.png" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                                <div class="thumbnail">
                                    <img src="assets/images/event/14.png" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>


                            <a href="assets/images/event/60.JPG" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/event/60.JPG" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>

                             <a href="assets/images/event/61.JPG" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                                <div class="thumbnail">
                                    <img src="assets/images/event/61.JPG" alt="Gallery Image">
                                </div>
                                <div class="zoom-icon">
                                    <i class="icon-69"></i>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>