{{> header}}

<!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">{{title}} </h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                         <li class="breadcrumb-item"><a href="#">Faculties</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Courses Area Start         =-->
        <!--=====================================-->
        <div class="edu-course-area course-area-1 section-gap-equal">

            <div class="container" >
            <div class="center section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                {{!-- <span class="pre-title center">Our Vision </span> --}}
                <h2 class="title center">Faculty of Social and Mangement Science</h2>
                <span class="shape-line center"><i class="icon-19"></i></span>
                <p>ESTAM University is committed to providing a comprehensive and dynamic learning experience for students interested in business, management, public administation, economics, banking and finance, sociology,political science and much more.</p>
                <p>Our esteemed faculty members bring a wealth of knowledge and industry experience to the classroom, enriching the learning experience for our students. They actively engage in cutting-edge research, ensuring that you receive a well-rounded education that combines theoretical concepts with real-world applications.</p>
                <p>ESTAM University fosters an inclusive community that encourages intellectual curiosity, critical thinking, and collaboration. Through student organizations and extracurricular activities, you can engage with like-minded individuals, participate in workshops, and cultivate lifelong friendships.</p>
                <p>Join us at ESTAM University's Faculty of Social and Management Science to unlock your potential as a future leader in your chosen field. Discover your passion, expand your knowledge, and shape your future with us!</p>
            </div>
        </div>

            <div class="container">
                <div class="row g-5">
                    <div class="edu-sorting-area">
                        <div class="sorting-left">
                            <h6 class="showing-text">These are the undergraduate courses we offer at the <span>Faculty of Social and Management Science</span></h6>
                        </div>
                        {{!-- <div class="sorting-right">
                            <div class="layout-switcher">
                                <label>Grid</label>
                                <ul class="switcher-btn">
                                    <li><a href="course-one.html" class=""><i class="icon-53"></i></a></li>
                                    <li><a href="course-four.html" class="active"><i class="icon-54"></i></a></li>
                                </ul>
                            </div>
                            <div class="edu-sorting">
                                <div class="icon"><i class="icon-55"></i></div>
                                <select class="edu-select">
                                    <option>Filters</option>
                                    <option>Low To High</option>
                                    <option>High Low To</option>
                                    <option>Last Viewed</option>
                                </select>
                            </div>
                        </div> --}}
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/mass-communication">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/massComm.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/mass-communication">BSc. Mass Communication</a>
                                </h5>
                                <p>The Bachelor of Science in Mass Communication program at ESTAM University offers a comprehensive and interdisciplinary curriculum that combines theoretical foundations with hands-on practical experiences. Our program is designed to equip students with the necessary skills and knowledge to excel in various fields within mass communication, such as journalism, public relations, advertising, broadcasting, digital media, and media management.</p>
                                <a href="/mass-communication" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/economics">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/economics.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/economics">BSc. Economics</a>
                                </h5>
                                <p>The Bachelor of Science in Economics program at ESTAM University offers a comprehensive curriculum that provides students with a strong foundation in economic theory, quantitative analysis, and applied research methods. Our program is designed to develop analytical thinking, problem-solving skills, and a deep understanding of economic principles that drive decision-making at various levels.</p>
                                <a href="/economics" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/political-science">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/politicalSci.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/political-science">BSc. Political Science</a>
                                </h5>
                                <p>The Bachelor of Science in Political Science program at ESTAM University offers a comprehensive curriculum that provides students with a deep understanding of political systems, institutions, ideologies, and public policies. Our program equips students with the analytical tools, research skills, and theoretical knowledge necessary to critically analyze political dynamics at local, national, and global levels.</p>
                                <a href="/political-science" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/public-administration">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/publicAdmin.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/public-administration">BSc. Public Administration</a>
                                </h5>
                                <p>The Bachelor of Science in Public Administration program at ESTAM University offers a comprehensive curriculum that explores the theories, practices, and challenges of public administration. Our program equips students with the knowledge, skills, and leadership qualities needed to navigate the complexities of public governance, policy-making, and organizational management.</p>
                                <a href="/public-administration" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/international-relations">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/IRS.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/international-relations">BSc. International Relations</a>
                                </h5>
                                <p>The Bachelor of Science in International Relations program at ESTAM University offers a comprehensive curriculum that explores the complexities of global politics, diplomacy, international law, and global security. Our program equips students with the analytical tools, cultural awareness, and diplomatic skills necessary to navigate the complex and interconnected world of international relations.</p>
                                <a href="/international-relations" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/sociology">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/sociology.png" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/sociology">BSc. Sociology</a>
                                </h5>
                                <p>The Bachelor of Science in Sociology program at ESTAM University offers a comprehensive curriculum that examines social structures, social interactions, and social phenomena. Our program equips students with the theoretical knowledge, research skills, and analytical tools to critically analyze social issues, advocate for change, and contribute to the betterment of society.</p>
                                <a href="/sociology" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/business-administration">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/businessAdmin.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/business-administration">BSc. Business Administration</a>
                                </h5>
                                <p>The Bachelor of Science in Business Administration program at ESTAM University offers a comprehensive curriculum that covers various aspects of business management, entrepreneurship, marketing, finance, and organizational behavior. Our program equips students with a solid understanding of business fundamentals, strategic thinking, and effective leadership skills.</p>
                                <a href="/business-administration" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/accounting">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/accounting.png" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/accounting">BSc. Accounting</a>
                                </h5>
                                <p>The Bachelor of Science in Accounting program at ESTAM University offers a comprehensive curriculum that covers various aspects of financial accounting, managerial accounting, auditing, taxation, and business law. Our program equips students with a strong foundation in accounting principles, analytical skills, and professional competencies.</p>
                                <a href="/accounting" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/marketing">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/marketing.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/marketing">BSc. Marketing</a>
                                </h5>
                                <p>The Bachelor of Science in Marketing program at ESTAM University offers a comprehensive curriculum that covers various aspects of marketing strategy, consumer behavior, branding, digital marketing, and market research. Our program equips students with the knowledge, skills, and practical experience to thrive in the dynamic and competitive field of marketing.</p>
                                <a href="/marketing" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/banking-and-finance">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/banking.png" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/banking-and-finance">BSc. Banking and Finance</a>
                                </h5>
                                <p>The Bachelor of Science in Banking and Finance program at ESTAM University offers a comprehensive curriculum that covers various aspects of banking operations, financial management, investment analysis, risk management, and regulatory frameworks. Our program equips students with a solid understanding of financial concepts, analytical skills, and prepares them for diverse roles in the banking and finance sector.</p>
                                <a href="/banking-and-finance" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/transport-and-logistics-management">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/bankingAndLogi.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/transport-and-logistics-management">BSc. Transport and Logistics Management</a>
                                </h5>
                                <p>The Bachelor of Science in Transport and Logistics Management program at ESTAM University offers a comprehensive curriculum that covers various aspects of transportation systems, supply chain management, logistics operations, and strategic planning. Our program equips students with the knowledge, skills, and practical experience to excel in the dynamic field of transport and logistics management.</p>
                                <a href="/transport-and-logistics-management" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/human-resources-management">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/humanResMan.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/human-resources-management">BSc. Human Resources Management</a>
                                </h5>
                                <p>The Bachelor of Science in Human Resources Management program at ESTAM University offers a comprehensive curriculum that covers various aspects of HR management, including recruitment and selection, employee training and development, performance management, compensation and benefits, labor relations, and strategic HR planning. Our program equips students with the knowledge, skills, and competencies necessary to excel in the dynamic field of human resources.</p>
                                <a href="/human-resources-management" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- End Course Area -->
