{{> header}}

        <!--=====================================-->
        <!--=        Courses Area Start         =-->
        <!--=====================================-->
        <div class="edu-course-area course-area-1 section-gap-equal">

            <div class="container" >
            <div class="center section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                {{!-- <span class="pre-title center">Our Vision </span> --}}
                <h2 class="title center">Faculty of Engineering</h2>
                <span class="shape-line center"><i class="icon-19"></i></span>
                <p>ESTAM University's Faculty of Engineering is dedicated to providing a comprehensive and dynamic learning experience for students interested in the field of computer engineering.</p>
                <p>Our faculty consists of esteemed professors, researchers, and industry experts who bring a wealth of knowledge and expertise to the classroom. They are committed to fostering a stimulating academic environment where theoretical concepts are seamlessly integrated with practical applications in computer engineering.</p>
                <p>ESTAM University recognizes the importance of practical experience in preparing computer engineering professionals for successful careers. While our program focuses on undergraduate education, we provide opportunities for internships and industry collaborations to enhance your understanding of the field and develop valuable skills. These experiences will help you bridge the gap between theory and practice, preparing you for the demands of the industry.</p>
                <p>We invite you to embark on an exciting educational journey at the Faculty of Engineering at ESTAM University. Join us in exploring the ever-evolving field of computer engineering, unlocking your full potential as a future leader and innovator in this rapidly advancing technological landscape.</p>
            </div>
        </div>

            <div class="container">
                <div class="row g-5">
                    <div class="edu-sorting-area">
                        <div class="sorting-left">
                            <h6 class="showing-text">These are the undergraduate courses we offer at the <span>Faculty of Engineering</span></h6>
                        </div>
                        {{!-- <div class="sorting-right">
                            <div class="layout-switcher">
                                <label>Grid</label>
                                <ul class="switcher-btn">
                                    <li><a href="course-one.html" class=""><i class="icon-53"></i></a></li>
                                    <li><a href="course-four.html" class="active"><i class="icon-54"></i></a></li>
                                </ul>
                            </div>
                            <div class="edu-sorting">
                                <div class="icon"><i class="icon-55"></i></div>
                                <select class="edu-select">
                                    <option>Filters</option>
                                    <option>Low To High</option>
                                    <option>High Low To</option>
                                    <option>Last Viewed</option>
                                </select>
                            </div>
                        </div> --}}
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/computer-engineering">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/computerEng.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/computer-engineering">BSc. Computer Engineering</a>
                                </h5>
                                <p>The Bachelor of Science in Computer Engineering program at ESTAM University offers a comprehensive curriculum that covers various aspects of computer engineering, including digital systems, computer architecture, programming, electronics, embedded systems, network engineering, and software engineering. Our program equips students with the knowledge, skills, and practical experience to excel in the dynamic field of computer engineering.</p>
                                <a href="/computer-engineering" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Course Area -->
