{{> header}}

<!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">{{title}} </h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Courses Area Start         =-->
        <!--=====================================-->
        <div class="edu-course-area course-area-1 section-gap-equal">

            <div class="container" >
            <div class="center section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                {{!-- <span class="pre-title center">Our Vision </span> --}}
                <h2 class="title center">Faculty of Applied Science</h2>
                <span class="shape-line center"><i class="icon-19"></i></span>
                <p>At ESTAM University, our Faculty of Applied Science is dedicated to providing a comprehensive and dynamic learning experience for students interested in fields such as computer science, information technology, and other applied sciences.</p>
                <p>Our faculty comprises a team of esteemed professors, researchers, and industry experts who bring a wealth of knowledge and expertise to the classroom. They are committed to fostering a stimulating academic environment where theoretical concepts are seamlessly integrated with practical applications.</p>
                <p>As a student in the Faculty of Applied Science, you will have access to a wide range of academic programs tailored to meet your individual interests and career goals. Our undergraduate programs offer a solid foundation in the fundamental principles of each discipline, equipping you with the necessary skills to address real-world challenges. Whether you aspire to become an engineer, a computer scientist, or an IT professional, our programs provide a comprehensive curriculum that balances theoretical knowledge with practical experiences.</p>
                <p>We invite you to embark on an exciting educational journey at the Faculty of Applied Science at ESTAM University. Join us in exploring the ever-evolving fields of engineering, computer science, information technology, and applied sciences, and unlock your full potential as a future leader and innovator.</p>
            </div>
        </div>

            <div class="container">
                <div class="row g-5">
                    <div class="edu-sorting-area">
                        <div class="sorting-left">
                            <h6 class="showing-text">These are the undergraduate courses we offer at the <span>Faculty of Applied Science</span></h6>
                        </div>
                        {{!-- <div class="sorting-right">
                            <div class="layout-switcher">
                                <label>Grid</label>
                                <ul class="switcher-btn">
                                    <li><a href="course-one.html" class=""><i class="icon-53"></i></a></li>
                                    <li><a href="course-four.html" class="active"><i class="icon-54"></i></a></li>
                                </ul>
                            </div>
                            <div class="edu-sorting">
                                <div class="icon"><i class="icon-55"></i></div>
                                <select class="edu-select">
                                    <option>Filters</option>
                                    <option>Low To High</option>
                                    <option>High Low To</option>
                                    <option>Last Viewed</option>
                                </select>
                            </div>
                        </div> --}}
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/course-details">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/computerSci.png" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/course-details">Bsc. Computer Science</a>
                                </h5>
                                <p>The Bachelor of Science in Computer Science program at ESTAM University offers a comprehensive curriculum that covers various aspects of computer science, including programming, algorithms, data structures, software development, computer networks, databases, artificial intelligence, and cybersecurity. Our program equips students with the knowledge, skills, and practical experience to thrive in the rapidly evolving field of computer science.</p>
                                <a href="/course-details" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/course-details">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/environmentalSci.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/course-details">Bsc. Environmental Science</a>
                                </h5>
                                <p>The Bachelor of Science in Environmental Science program at ESTAM University offers a comprehensive curriculum that covers various aspects of environmental science, including ecology, environmental policy, conservation, natural resource management, environmental impact assessment, and sustainability. Our program equips students with the knowledge, skills, and practical experience to address complex environmental challenges.</p>
                                <a href="/course-details" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/course-details">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/manInfoTech.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <h5 class="title">
                                    <a href="/course-details">Bsc. Mangement Information Technology</a>
                                </h5>
                                <p>The Bachelor of Science in Management Information Technology program at ESTAM University offers a comprehensive curriculum that covers various aspects of management and information technology, including systems analysis and design, database management, programming, project management, cybersecurity, and business intelligence. Our program equips students with the knowledge, skills, and practical experience to excel in the rapidly evolving field of IT management.</p>
                                <a href="/course-details" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Course Area -->
