{{> header }}

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start          =-->
        <!--=====================================-->
       
        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Frequently Asked Questions</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        FAQ Area Start            =-->
        <!--=====================================-->
        <section class="edu-section-gap faq-page-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="faq-page-nav">
                            <h3 class="title">Questions By This Category</h3>
                            <p>This category covers a range of topics including admissions, academics, financial aid, campus facilities, student organizations, faculty information, research opportunities, campus life, and graduation resources.</p>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#gn-ques" type="button" role="tab" aria-selected="true">General Questions</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#rg-ques" type="button" role="tab" aria-selected="false">Regular Questions</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#ad-ques" type="button" role="tab" aria-selected="false">Advanced questions</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#com-policy" type="button" role="tab" aria-selected="false">Company Policies</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pay-option" type="button" role="tab" aria-selected="false">Payment Options</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#terms-condition" type="button" role="tab" aria-selected="false">Terms & Conditions</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content faq-page-tab-content" id="faq-accordion">
                            <div class="tab-pane fade show active" id="gn-ques" role="tabpanel">
                                <div class="faq-accordion">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-1" aria-expanded="true">
                                                    What are the admission requirements?
                                                </button>
                                            </h5>
                                            <div id="question-1" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>To apply, you'll need 4 passport photographs, an international passport, state certificate, birth certificate, and WAEC certificate.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-2" aria-expanded="false">
                                                    Can I transfer credits from another institution?
                                                </button>
                                            </h5>
                                            <div id="question-2" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Yes, credit transfers are possible with your previous institution's transcript. We evaluate your coursework for eligibility and facilitate a smooth transition for students.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-3" aria-expanded="false">
                                                    Are there any scholarships or financial aid options available?
                                                </button>
                                            </h5>
                                            <div id="question-3" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>We do not offer scholarships or financial aid, but we provide quality education at an affordable cost, empowering students to succeed in a supportive environment.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-4" aria-expanded="false">
                                                    What majors or programs does the university offer?
                                                </button>
                                            </h5>
                                            <div id="question-4" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>We offer a variety of majors and programs across different fields. Please click on <a href="/course-details">here</a> to explore the full range of academic offerings.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-5" aria-expanded="false">
                                                    How do I apply to the university?
                                                </button>
                                            </h5>
                                            <div id="question-5" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Visit our website or contact admissions for application details. Submit required documents by the specified deadline. Await admission decision. Assistance available upon request.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-6" aria-expanded="false">
                                                    Are there any extracurricular activities or clubs?
                                                </button>
                                            </h5>
                                            <div id="question-6" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>We have diverse extracurricular activities and clubs like Google Club and football. Enhance your campus experience and pursue your passions outside of academics.
</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-7" aria-expanded="false">
                                                    What is the tuition fee structure?
                                                </button>
                                            </h5>
                                            <div id="question-7" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
Our tuition fee structure provides two options: paying the full amount upfront or paying at least 70% before the first semester exam. For specific details and payment arrangements, please contact the finance office for assistance.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rg-ques" role="tabpanel">
                                <div class="faq-accordion">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-8" aria-expanded="true">
                                                    What is the grading system and GPA calculation?
                                                </button>
                                            </h5>
                                            <div id="question-8" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Our grading system uses a 5-point scale for GPA calculation. The exact grading scale and corresponding GPA values may vary. Please refer to our university's specific guidelines for the grading scale and GPA calculation method.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-9" aria-expanded="false">
                                                    What is the policy on attendance and participation in class?
                                                </button>
                                            </h5>
                                            <div id="question-9" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Regular attendance and active participation are vital for academic success and a positive learning environment. Course-specific attendance policies can vary, so please refer to the syllabus for guidelines. Engage in discussions and activities to enrich your learning experience.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-10" aria-expanded="false">
                                                    How do I change my major or program?
                                                </button>
                                            </h5>
                                            <div id="question-10" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>To change your major/program, contact the academic advising or registrar's office. They will guide you through the process and provide necessary forms and steps to follow.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-11" aria-expanded="false">
                                                    How do I request a transcript or academic record?
                                                </button>
                                            </h5>
                                            <div id="question-11" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
To request a transcript, contact the registrar's office for the necessary form. Provide accurate details, specify recipient and delivery method, and allow processing time.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-12" aria-expanded="false">
                                                    What is the policy on academic probation or dismissal?
                                                </button>
                                            </h5>
                                            <div id="question-12" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>The policy on academic probation or dismissal is designed to ensure academic progress and maintain standards. Specific criteria and consequences vary, so please consult the university's academic policies for detailed information on probation and dismissal guidelines.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-13" aria-expanded="false">
                                                    What are the library resources and services available?
                                                </button>
                                            </h5>
                                            <div id="question-13" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
Our library provides a wide range of resources and services to support your academic journey. Access books, e-books, journals, and databases online or in person. Explore research assistance, interlibrary loan, study spaces, and technology resources for an enriching learning experience.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ad-ques" role="tabpanel">
                                <div class="faq-accordion">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-14" aria-expanded="true">
                                                   What research opportunities are available for students?
                                                </button>
                                            </h5>
                                            <div id="question-14" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
We provide research opportunities like research assistantships, faculty-led projects, and conferences. Connect with professors and departments to explore available research options in your field.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-15" aria-expanded="false">
                                                    What are the academic requirements for honors programs or graduate studies?
                                                </button>
                                            </h5>
                                            <div id="question-15" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Honors programs require a higher GPA, extra coursework, and research projects. For graduate studies, a bachelor's degree, test scores, recommendation letters, and a strong academic background are typically required. Check program-specific guidelines for details.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-16" aria-expanded="false">
                                                    How can I apply for research grants or funding?
                                                </button>
                                            </h5>
                                            <div id="question-16" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Identify funding sources, review guidelines, prepare a research proposal, submit application with required documents, seek guidance if needed, and comply with reporting requirements if awarded.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-17" aria-expanded="false">
                                                    Are there any restrictions on research subject matter or methodology?
                                                </button>
                                            </h5>
                                            <div id="question-17" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Our university promotes academic freedom, allowing a diverse range of research subjects and methodologies within ethical and legal boundaries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="com-policy" role="tabpanel">
                                <div class="faq-accordion">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-18" aria-expanded="true">
                                                   How does the university handle student complaints or grievances?
                                                </button>
                                            </h5>
                                            <div id="question-18" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>The university takes student complaints and grievances seriously and has established procedures in place to address them.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-19" aria-expanded="false">
                                                    What is the policy on discrimination, harassment, or sexual misconduct?
                                                </button>
                                            </h5>
                                            <div id="question-19" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Our university have strict policies against discrimination, harassment, and sexual misconduct. Students can report incidents to designated offices responsible for handling such cases, with procedures and contact information typically available on the university's website.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-20" aria-expanded="false">
                                                    How does the university ensure compliance with federal and state regulations?
                                                </button>
                                            </h5>
                                            <div id="question-20" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Our university maintains compliance with federal and state regulations through rigorous monitoring, regular audits, and dedicated compliance officers who ensure adherence to all relevant laws</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-21" aria-expanded="false">
                                                    What is the policy on campus safety and security?
                                                </button>
                                            </h5>
                                            <div id="question-21" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
Campus safety is a top priority. We have security personnel, emergency protocols, surveillance, and safety education. Collaborating with law enforcement ensures a secure environment for everyone on campus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pay-option" role="tabpanel">
                                <div class="faq-accordion">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-22" aria-expanded="true">
                                                    
What are the tuition and fee payment options?
                                                </button>
                                            </h5>
                                            <div id="question-22" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Our tuition fee structure provides two options: paying the full amount upfront or paying at least 70% before the first semester exam. For specific details and payment arrangements, please contact the finance office for assistance.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-23" aria-expanded="false">
                                                   Is there a payment plan or installment option available?
                                                </button>
                                            </h5>
                                            <div id="question-23" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Our tuition fee structure provides two options: paying the full amount upfront or paying at least 70% before the first semester exam. For specific details and payment arrangements, please contact the finance office for assistance.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-24" aria-expanded="false">
                                                    Are there any late payment fees or penalties?
                                                </button>
                                            </h5>
                                            <div id="question-24" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Yes, there may be late payment fees or penalties for overdue payments. Failure to clear outstanding fees may result in ineligibility to participate in examinations or other academic activities.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-25" aria-expanded="false">
                                                    How do I apply for financial aid or scholarships?
                                                </button>
                                            </h5>
                                            <div id="question-25" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>To inquire about financial aid or scholarships, please contact our university's financial assistance department. They will provide guidance on available options, eligibility criteria, and the application process.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="terms-condition" role="tabpanel">
                                <div class="faq-accordion">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-26" aria-expanded="true">
                                                    What are the university's policies and procedures for academic and administrative matters?
                                                </button>
                                            </h5>
                                            <div id="question-26" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
Our university has comprehensive policies and procedures governing academic and administrative matters to ensure fairness and effective management. For details, refer to our official website or relevant departments.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-27" aria-expanded="false">
                                                    What is the policy on student conduct and disciplinary action?
                                                </button>
                                            </h5>
                                            <div id="question-27" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>Our university has a policy on student conduct. Violations may result in disciplinary action, including warnings, probation, suspension, or expulsion, ensuring a respectful and inclusive learning environment.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-28" aria-expanded="false">
                                                    What is the policy on student records and data privacy?
                                                </button>
                                            </h5>
                                            <div id="question-28" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
Protecting student records and data privacy is of utmost importance at our university. We adhere to strict policies and comply with relevant laws to safeguard student information. Access to records is granted only to authorized individuals, ensuring confidentiality and data security.
</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-29" aria-expanded="false">
                                                    How does the university handle liability and indemnification?
                                                </button>
                                            </h5>
                                            <div id="question-29" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                                <div class="accordion-body">
                                                    <p>
Our university takes liability and indemnification seriously. We have measures in place to assess and mitigate potential risks. In cases where liability arises, we follow legal protocols and may provide indemnification as deemed appropriate and within legal boundaries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=        CTA  Area Start            =-->
        <!--=====================================-->
        <!-- Start Ad Banner Area  -->
        <div class="edu-cta-banner-area home-one-cta-wrapper bg-image">
            <div class="container">
                <div class="edu-cta-banner">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <h2 class="title">Evaluate Your 
              <span class="color-primary">Eligibility &amp; Apply </span>
              for Your Desired Course of Study</h2>
            <a href="admissions" class="edu-btn btn-secondary">Check Requirements
              <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene">
                            <img data-depth="2.5" src="assets/images/cta/shape-10.png" alt="shape">
                        </li>
                        <li class="shape-02 scene">
                            <img data-depth="-2.5" src="assets/images/cta/shape-09.png" alt="shape">
                        </li>
                        <li class="shape-03 scene">
                            <img data-depth="-2" src="assets/images/cta/shape-08.png" alt="shape">
                        </li>
                        <li class="shape-04 scene">
                            <img data-depth="2" src="assets/images/about/shape-13.png" alt="shape">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Ad Banner Area  -->
        <!--=====================================-->
        <!--=        Footer Area Start          =-->
        <!--=====================================-->


    </div>

    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

