{{> header }}

    <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Gallery</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Gallery Area Start            =-->
        <!--=====================================-->
        <div class="edu-gallery-area edu-section-gap">
            <div class="container">
                <div id="masonry-gallery" class="gallery-grid-wrap">
                    <div id="animated-thumbnials">


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery14_i3vewq.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery14_i3vewq.jpg" loading="lazy" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery15_kowzjy.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery15_kowzjy.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery16_l1yc24.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery16_l1yc24.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery17_zs8kdp.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery17_zs8kdp.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery18_eegvxa.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery18_eegvxa.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery20_zf3u4j.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery20_zf3u4j.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery21_qtfk2u.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery21_qtfk2u.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery23_ejop2v.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery23_ejop2v.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery24_h7e7ym.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery24_h7e7ym.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery25_wbi39r.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery25_wbi39r.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery26_dldnin.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery26_dldnin.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery28_bng2hz.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery28_bng2hz.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery29_zhzcsj.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery29_zhzcsj.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery30_swpq7s.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery30_swpq7s.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery31_fk93eb.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery31_fk93eb.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery32_hgcpt8.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery32_hgcpt8.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>
                        

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery10_gs9u1u.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery10_gs9u1u.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery01_agdbrh.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery01_agdbrh.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery06_uhwez6.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery06_uhwez6.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery05_x3ay5b.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery05_x3ay5b.jpg"  loading="lazy" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery08_jnijqp.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery08_jnijqp.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery09_mnjhqw.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery09_mnjhqw.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery11_wjugqz.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery11_wjugqz.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery07_fvqypg.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery07_fvqypg.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery33_y6r2o2.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery33_y6r2o2.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery36_gebgaw.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery36_gebgaw.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery37_rwgrui.jpg"  class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery37_rwgrui.jpg" loading="lazy"  alt="Gallery Image">
                            </div>
                            <div class="zoom-icon center">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!--=====================================-->
        <!--=        CTA  Area Start            =-->
        <!--=====================================-->
        <!-- Start Ad Banner Area  -->
        <div class="edu-cta-banner-area home-one-cta-wrapper bg-image">
            <div class="container">
                <div class="edu-cta-banner">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <h2 class="title">Ready To Take The First Step Towards An <span class="color-secondary">Exciting And Fulfilling</span> Future?</h2>
                                <a href="/apply" class="edu-btn">Apply now <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene">
                            <img data-depth="2.5" src="assets/images/cta/shape-10.png" alt="shape">
                        </li>
                        <li class="shape-02 scene">
                            <img data-depth="-2.5" src="assets/images/cta/shape-09.png" alt="shape">
                        </li>
                        <li class="shape-03 scene">
                            <img data-depth="-2" src="assets/images/cta/shape-08.png" alt="shape">
                        </li>
                        <li class="shape-04 scene">
                            <img data-depth="2" src="assets/images/about/shape-13.png" alt="shape">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Ad Banner Area  -->
        <!--=====================================-->