{{> header }}

    <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Gallery</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=        Gallery Area Start            =-->
        <!--=====================================-->
        <div class="edu-gallery-area edu-section-gap">
            <div class="container">
                <div id="masonry-gallery" class="gallery-grid-wrap">
                    <div id="animated-thumbnials">


                        <a href="assets/images/gallery/gallery10.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery10.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery01.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery01.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery06.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery06.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery05.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery05.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery08.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery08.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery04.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery04.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery11.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery11.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery09.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery09.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>


                        <a href="assets/images/gallery/gallery07.jpg" class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap masonry-item">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/gallery07.jpg" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!--=====================================-->
        <!--=        CTA  Area Start            =-->
        <!--=====================================-->
        <!-- Start Ad Banner Area  -->
        <div class="edu-cta-banner-area home-one-cta-wrapper bg-image">
            <div class="container">
                <div class="edu-cta-banner">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <h2 class="title">Ready To Take The First Step Towards An <span class="color-secondary">Exciting And Fulfilling</span> Future?</h2>
                                <a href="/apply" class="edu-btn">Apply now <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene">
                            <img data-depth="2.5" src="assets/images/cta/shape-10.png" alt="shape">
                        </li>
                        <li class="shape-02 scene">
                            <img data-depth="-2.5" src="assets/images/cta/shape-09.png" alt="shape">
                        </li>
                        <li class="shape-03 scene">
                            <img data-depth="-2" src="assets/images/cta/shape-08.png" alt="shape">
                        </li>
                        <li class="shape-04 scene">
                            <img data-depth="2" src="assets/images/about/shape-13.png" alt="shape">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Ad Banner Area  -->
        <!--=====================================-->