<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
<header class="edu-header header-style-2">
  <div class="header-top-bar">
    <div class="container">
      <div class="header-top">
        <div class="header-top-left">
          <ul class="header-info">
            <li><a href="mailto:info@estamuni.net" target="_blank"><i
                  class="icon-envelope"
                ></i>Email: info@estamuni.net</a></li>
          </ul>
        </div>
        <div class="header-top-right">
          <ul class="header-info">
            <li><a
                href="/student-login"
              >Distance Learning</a></li>
            <li><a
                href="/student-login"
              >Student Portal</a></li>
            <li class="header-btn"><a
                href="/apply"
                class="edu-btn btn-secondary btn-medium"
              >Apply Now <i class="icon-4"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="edu-sticky-placeholder"></div>
  <div class="header-mainmenu">
    <div class="container">
      <div class="header-navbar">
        <div class="header-brand">
          <div class="logo">
            <a href="/">
              <img
                class="logo-light"
                src="/assets/images/logo/logo-dark-2.png"
                alt="ESTAM Logo"
                style="width:100%; height:auto; max-width:245px;"
              />
              <img
                class="logo-dark"
                src="/assets/images/logo/logo-light-2.png"
                alt="ESTAM Logo"
                style="width:100%; height:auto; max-width:245px;"
              />

            </a>
          </div>
        </div>
        <div class="header-mainnav">
          <nav class="mainmenu-nav">
            <ul class="mainmenu">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li class="has-droupdown"><a href="#">Faculties</a>
                <ul class="submenu">
                  <li><a href="/faculty-of-social-and-management-science">Social
                      and Management Science</a></li>
                  <li><a href="/faculty-of-applied-science">Applied Science</a></li>
                  <li><a href="/faculty-of-engineering">Engineering</a></li>
                  <li><a href="/postgraduate-programs">Postgraduate Programs</a></li>
                </ul>
              </li>
              <li class="has-droupdown"><a href="#">Academics</a>
                <ul class="submenu">
                  <li><a href="/admissions">Admissions</a></li>
                  <li><a href="/research">Research</a></li>
                  <li><a href="/career-services">Career Services</a></li>
                  <li><a href="/scholarships">Scholarships</a></li>

                </ul>
              </li>
              <li><a href="/campus-life">Campus Life</a></li>
              <li class="has-droupdown"><a href="#">More</a>
                <ul class="submenu">
                  <li><a href="/accomodation">Accomodation</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/alumni">Alumni</a></li>
                  <li><a href="/news">News &amp; Articles</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
                </ul>
              </li>
            </ul>
          </nav>

        </div>
        <div class="header-right">
          <ul class="header-action">
            <li class="mobile-menu-bar d-block d-xl-none">
              <button class="hamberger-button">
                <i class="icon-54"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Moblie Navigation -->
  <div class="popup-mobile-menu">
    <div class="inner">
      <div class="header-top">
        <div class="logo">
          <a href="index.html">
            <img
              class="logo-light"
              src="/assets/images/logo/logo-dark.png"
              alt="ESTAM Logo"
              style="width:100%; height:auto; max-width:215px;"
            />
            <img
              class="logo-dark"
              src="/assets/images/logo/logo-white.png"
              alt="ESTAM Logo"
              style="width:100%; height:auto; max-width:215px;"
            />
          </a>
        </div>
        <div class="close-menu">
          <button class="close-button">
            <i class="icon-73"></i>
          </button>
        </div>
      </div>
      <ul class="mainmenu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="has-droupdown"><a href="#">Faculties</a>
          <ul class="submenu">
            <li><a href="/faculty-of-social-and-management-science">Social and
                Management Science</a></li>
            <li><a href="/faculty-of-applied-science">Applied Science</a></li>
            <li><a href="/faculty-of-engineering">Engineering</a></li>
            <li><a href="/postgraduate-programs">Postgraduate Programs</a></li>
          </ul>
        </li>
        <li class="has-droupdown"><a href="#">Academics</a>
          <ul class="submenu">
            <li><a href="/admissions">Admissions</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/career-services">Career Services</a></li>
            <li><a href="/scholarships">Scholarships</a></li>
          </ul>
        </li>
        <li><a href="/campus-life">Campus Life</a></li>
        <li><a href="/accomodation">Accomodation</a></li>
        <li><a href="/alumni">Alumni</a></li>
        <li class="has-droupdown"><a href="#">More</a>
          <ul class="submenu">
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/news">News &amp; Articles</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Start Search Popup  -->
  <div class="edu-search-popup">
    <div class="content-wrap">
      <div class="site-logo">
        <img
          class="logo-light"
          src="/assets/images/logo/logo-dark.png"
          alt="ESTAM Logo"
        />
        <img
          class="logo-dark"
          src="/assets/images/logo/logo-white.png"
          alt="ESTAM Logo"
        />
      </div>
      <div class="close-button">
        <button class="close-trigger"><i class="icon-73"></i></button>
      </div>
      <div class="inner">
        <form class="search-form" action="#">
          <input
            type="text"
            class="estam-search-popup-field"
            placeholder="Search Here..."
          />
          <button class="submit-button"><i class="icon-2"></i></button>
        </form>
      </div>
    </div>
  </div>
  <!-- End Search Popup  -->
</header>
<!--=====================================-->
<!--=       Hero Banner Area Start      =-->
<!--=====================================-->
<div class="hero-banner hero-style-3 bg-image">
  <div class="swiper university-activator">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          data-transform-origin="center center"
          data-src="/assets/images/bg/4.jpg"
          class="swiper-lazy"
          alt="image"
        />
        <div class="thumbnail-bg-content">
          <div class="container estam-animated-shape">
            <div class="row">
              <div class="col-7">
                <div class="banner-content">
                  <span
                    class="subtitle"
                    data-sal="slide-up"
                    data-sal-duration="1000"
                  >Welcome to ESTAM University</span>
                  <h1
                    class="title"
                    data-sal-delay="100"
                    data-sal="slide-up"
                    data-sal-duration="1000"
                  >Redefining Education for the Future Generation of Trailblazers</h1>
                  <p
                    data-sal-delay="200"
                    data-sal="slide-up"
                    data-sal-duration="1000"
                  >Experience Cutting-Edge Curricula and Empower Your Journey to Success.</p>
                  <div
                    class="banner-btn"
                    data-sal-delay="400"
                    data-sal="slide-up"
                    data-sal-duration="1000"
                  >
                    <a href="apply" class="edu-btn btn-secondary">Appy Now
                      <i class="icon-4"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          data-transform-origin="center center"
          data-src="/assets/images/bg/5.jpg"
          class="swiper-lazy"
          alt="image"
        />
        <div class="thumbnail-bg-content">
          <div class="container estam-animated-shape">
            <div class="row">
              <div class="col-7">
                <div class="banner-content">
                  <span
                    class="subtitle"
                    data-sal="slide-up"
                    data-sal-duration="3000"
                  >Welcome to ESTAM University</span>
                  <h1
                    class="title"
                    data-sal-delay="100"
                    data-sal="slide-up"
                    data-sal-duration="3000"
                  >Where Brilliance and Inspiration Converge for Extraordinary </h1>
                  <p
                    data-sal-delay="200"
                    data-sal="slide-up"
                    data-sal-duration="3000"
                  >Unleash Your Creativity, Curiosity, and Ambition to Shape a Remarkable Future.</p>
                  <div
                    class="banner-btn"
                    data-sal-delay="400"
                    data-sal="slide-up"
                    data-sal-duration="3000"
                  >
                    <a href="admissions" class="edu-btn btn-secondary">Admissions
                      <i class="icon-4"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-slider-bg-controls">
      <div class="swiper-slide-controls slide-prev">
        <i class="icon-west"></i>
      </div>
      <div class="swiper-slide-controls slide-next">
        <i class="icon-east"></i>
      </div>
    </div>
  </div>
  <ul class="shape-group">
    <li
      class="shape-1 scene"
      data-sal-delay="1000"
      data-sal="fade"
      data-sal-duration="1000"
    >
      <img
        data-depth="2"
        src="/assets/images/others/shape-10.png"
        alt="Shape"
      />
    </li>
    <li
      class="shape-2 scene"
      data-sal-delay="1000"
      data-sal="fade"
      data-sal-duration="1000"
    >
      <img
        data-depth="-3"
        src="/assets/images/others/shape-11.png"
        alt="Shape"
      />
    </li>
    <li class="shape-3">
      <img src="/assets/images/others/shape-25.png" alt="Shape" />
    </li>
  </ul>
</div>
<!--=====================================-->
<!--=       Features Area Start      	=-->
<!--=====================================-->
<!-- Start Categories Area  -->
<div class="features-area-3">
  <div class="container">
    <div class="features-grid-wrap">
      <div
        class="features-box features-style-3 color-primary-style estam-svg-animate"
      >
        <div class="icon">
          <img
            class="svgInject"
            src="/assets/images/animated-svg-icons/scholarship-facility.svg"
            alt="animated icon"
          />
          <!-- <i class="icon-34"></i> -->
        </div>
        <div class="content">
          <h4 class="title">Comprehensive Academic Programs</h4>
          <p>ESTAM University offers a wide range of comprehensive academic programs, equipping students with the knowledge and skills needed for success in their chosen fields.</p>
        </div>
      </div>
      <div
        class="features-box features-style-3 color-secondary-style estam-svg-animate"
      >
        <div class="icon">
          <img
            class="svgInject"
            src="/assets/images/animated-svg-icons/skilled-lecturers.svg"
            alt="animated icon"
          />
        </div>
        <div class="content">
          <h4 class="title">Personalized Mentorship and Support</h4>
          <p>ESTAM University provides personalized mentorship and support, guiding students in setting goals, exploring their interests, and making informed decisions about their education and career paths.</p>
        </div>
      </div>
      <div
        class="features-box features-style-3 color-extra02-style estam-svg-animate"
      >
        <div class="icon">
          <img
            class="svgInject"
            src="/assets/images/animated-svg-icons/book-library.svg"
            alt="animated icon"
          />
          <!-- <i class="icon-36"></i> -->
        </div>
        <div class="content">
          <h4 class="title">Cutting-Edge Research and Innovation</h4>
          <p>ESTAM University fosters cutting-edge research and innovation, offering state-of-the-art facilities and collaborative opportunities for students to make impactful contributions to their fields of study.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Categories Area  -->
<!--=====================================-->
<!--=       About Area Start      		=-->
<!--=====================================-->
<div class="edu-about-area about-style-3">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div
        class="col-lg-6"
        data-sal-delay="50"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="about-content">
          <div class="section-title section-left">
            <span class="pre-title">About Us</span>
            <h2 class="title">Unlock Your Potential with 
              <span class="color-primary">Our Exceptional</span>
              Education Services</h2>
            <span class="shape-line"><i class="icon-19"></i></span>
          </div>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#about-edu"
                type="button"
                role="tab"
                aria-selected="true"
              >About ESTAM University</button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#about-mission"
                type="button"
                role="tab"
                aria-selected="false"
              >Our Mission</button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#about-vision"
                type="button"
                role="tab"
                aria-selected="false"
              >Our Vision</button>
            </li>
          </ul>
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="about-edu"
              role="tabpanel"
            >
              <p>ESTAM University is dedicated to delivering an exceptional education experience, offering unparalleled resources to empower our students in reaching their full potential and achieving success in their chosen fields.</p>
              <ul class="features-list">
                <li>Highly qualified and experienced staff</li>
                <li>Dynamic student life</li>
                <li>Intensive French class</li>
                <li>All courses are conducted in English</li>
                <li>NYSC Accredited</li>
                <li>Further in UK, US, Canada...</li>
                 <div class="read-more-btn">
                  <a
                    class="edu-btn btn-small btn-secondary"
                    href="about"
                  >Learn More <i class="icon-4"></i></a>
                </div>
              </ul>
            </div>
            <div class="tab-pane fade" id="about-vision" role="tabpanel">
              <p>Our vision is to establish ESTAM University as a premier institution of higher education in Africa, renowned for its exceptional academic programs and recognized for fostering graduates who demonstrate exemplary leadership in their chosen domains.</p>
              <ul class="features-list">
                <li>Industry Expert Instructor</li>
                <li>Empowering Future Leaders</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="about-mission" role="tabpanel">
              <p>At ESTAM University, our mission is to offer innovative and relevant academic programs that equip our students with the necessary skills and knowledge to succeed in their careers and in life. To achieve this, we are dedicated to recruiting and retaining exceptional faculty members who possess a genuine passion for teaching and research.</p>
              <ul class="features-list">
                <li>Building Skills for Success</li>
                <li>Empowering Lifelong Learning</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-image-gallery">
          <img
            class="main-img-1"
            data-sal-delay="100"
            data-sal="slide-up"
            data-sal-duration="800"
            src="/assets/images/about/about-1.png"
            alt="About Image"
          />
          <img
            class="main-img-2"
            data-sal-delay="100"
            data-sal="slide-left"
            data-sal-duration="800"
            src="/assets/images/about/about-2.png"
            alt="About Image"
          />
          <ul class="shape-group">
            <li
              class="shape-1 scene"
              data-sal-delay="500"
              data-sal="fade"
              data-sal-duration="200"
            >
              <img
                data-depth="2"
                src="/assets/images/about/shape-13.png"
                alt="Shape"
              />
            </li>
            <li
              class="shape-2 scene"
              data-sal-delay="500"
              data-sal="fade"
              data-sal-duration="200"
            >
              <img
                data-depth="-2"
                src="/assets/images/about/shape-39.png"
                alt="Shape"
              />
            </li>
            <li
              class="shape-3 scene"
              data-sal-delay="500"
              data-sal="fade"
              data-sal-duration="200"
            >
              <img
                data-depth="2"
                src="/assets/images/about/shape-07.png"
                alt="Shape"
              />
            </li>
            <li
              class="shape-4"
              data-sal-delay="500"
              data-sal="fade"
              data-sal-duration="200"
            >
              <span></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ul class="shape-group">
    <li class="shape-5">
      <img
        class="rotateit"
        src="/assets/images/about/shape-13.png"
        alt="Shape"
      />
    </li>
    <li class="shape-6">
      <span></span>
    </li>
  </ul>
</div>
<!--=====================================-->
<!--=       CounterUp Area Start      	=-->
<!--=====================================-->
<div class="counterup-area-1 gap-lg-bottom-equal">
  <div class="container">
    <div class="row g-5">
      <div
        class="col-lg-3 col-sm-6"
        data-sal-delay="50"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="edu-counterup counterup-style-1">
          <h2 class="counter-item count-number primary-color">
            <span class="odometer" data-odometer-final="7.3">.</span><span
            >K</span>
          </h2>
          <h6 class="title">ALUMNI</h6>
        </div>
      </div>
      <div
        class="col-lg-3 col-sm-6"
        data-sal-delay="100"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="edu-counterup counterup-style-1">
          <h2 class="counter-item count-number secondary-color">
            <span class="odometer" data-odometer-final="44"></span><span
            >+</span>
          </h2>
          <h6 class="title">Accredited Departments</h6>
        </div>
      </div>
      <div
        class="col-lg-3 col-sm-6"
        data-sal-delay="150"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="edu-counterup counterup-style-1">
          <h2 class="counter-item count-number extra02-color">
            <span class="odometer" data-odometer-final="100">.</span><span
            >%</span>
          </h2>
          <h6 class="title">Satisfaction Rate</h6>
        </div>
      </div>
      <div
        class="col-lg-3 col-sm-6"
        data-sal-delay="200"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="edu-counterup counterup-style-1">
          <h2 class="counter-item count-number extra05-color">
            <span class="odometer" data-odometer-final="20">.</span><span
            >+</span>
          </h2>
          <h6 class="title">Skill &amp; Extracurricular Programs</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=====================================-->
<!--=       Course Area Start      		=-->
<!--=====================================-->
<!-- Start Course Area  -->
<div class="edu-course-area course-area-3 section-gap-large bg-lighten04">
  <div class="container">
    <div
      class="section-title section-center"
      data-sal-delay="150"
      data-sal="slide-up"
      data-sal-duration="800"
    >
      <span class="pre-title">Featured Programs</span>
      <h2 class="title">Academic Programs</h2>
      <span class="shape-line"><i class="icon-19"></i></span>
    </div>
    <div class="isotope-wrapper">
      <div class="isotop-button isotop-filter">
        {{!-- <button data-filter=".undergraduate" class="is-checked"> --}}
        <button data-filter=".undergraduate" class="is-checked">
          <span class="filter-text">Undergraduate Program</span>
        </button>
        <button data-filter=".graduate">
          <span class="filter-text">Graduate Program</span>
        </button>
        <button data-filter=".online">
          <span class="filter-text">Online Program</span>
        </button>
      </div>
      <div class="row g-5 isotope-list">
        <!-- Start Single Course  -->
        <div class="col-md-6 col-lg-4 isotope-item undergraduate online">
          <div
            class="edu-course course-style-3"
            data-sal-delay="100"
            data-sal="slide-up"
            data-sal-duration="800"
          >
            <div class="inner">
              <div class="thumbnail">
                <a href="computer-science">
                  <img
                    src="/assets/images/course/computerSci.png" 
                    class="course-img"
                    alt="Computer Science"
                  />
                </a>
                <div class="time-top">
                  <span class="duration"><i class="icon-61"></i>Online + Onsite</span>
                </div>
              </div>
              <div class="content">
                <span class="course-level">Applied Science</span>
                <h5 class="title">
                  <a href="computer-science">BSc. Computer Science</a>
                </h5>
                <p>The outstanding departement provides a comprehensive curriculum covering programming, algorithms, software development, AI, cybersecurity, and more, preparing students for success in the dynamic field of computer science.</p>
                <div class="course-rating">
                  <div class="rating">
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                  </div>
                </div>
                <div class="read-more-btn">
                  <a
                    class="edu-btn btn-small btn-secondary"
                    href="computer-science"
                  >Learn More <i class="icon-4"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Course  -->
        <!-- Start Single Course  -->
        <div class="col-md-6 col-lg-4 isotope-item undergraduate online">
          <div
            class="edu-course course-style-3"
            data-sal-delay="200"
            data-sal="slide-up"
            data-sal-duration="800"
          >
            <div class="inner">
              <div class="thumbnail">
                <a href="economics">
                  <img
                    src="/assets/images/course/economics.jpg"
                    alt="Economics"
                    class="course-img"
                  />
                </a>
                <div class="time-top">
                  <span class="duration"><i class="icon-61"></i>Online + Onsite</span>
                </div>
              </div>
              <div class="content">
                <span class="course-level">Social and Management Science</span>
                <h5 class="title">
                  <a href="economics">Bsc. Economics</a>
                </h5>
                <p>The program equips students with a solid foundation in economic theory, quantitative analysis, and applied research. Cultivating analytical thinking, problem-solving skills, and a profound grasp of economic principles for decision-making.</p>
                <div class="course-rating">
                  <div class="rating">
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                  </div>
                </div>
                <div class="read-more-btn">
                  <a
                    class="edu-btn btn-small btn-secondary"
                    href="economics"
                  >Learn More <i class="icon-4"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Course  -->
        <!-- Start Single Course  -->
        <div class="col-md-6 col-lg-4 isotope-item graduate online">
          <div
            class="edu-course course-style-3"
            data-sal-delay="300"
            data-sal="slide-up"
            data-sal-duration="800"
          >
            <div class="inner">
              <div class="thumbnail">
                <a href="msc-computer-networks-and-security">
                  <img
                    src="/assets/images/course/msc-computer-network.jpg"
                    alt="Computer Networks and Security"
                    class="course-img"
                  />
                </a>
                <div class="time-top">
                  <span class="duration"><i class="icon-61"></i>Online + Onsite</span>
                </div>
              </div>
              <div class="content">
                <span class="course-level">Postgraduate Program</span>
                <h5 class="title">
                  <a href="msc-computer-networks-and-security">Msc. Computer Networks and Security </a>
                </h5>
                <p>The Master's in Computer Networks and Security program focuses on in-depth knowledge and practical skills in network security and data protection.</p>
                <div class="course-rating">
                  <div class="rating">
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                  </div>
                </div>
                <div class="read-more-btn">
                  <a
                    class="edu-btn btn-small btn-secondary"
                    href="msc-computer-networks-and-security"
                  >Learn More <i class="icon-4"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Course  -->
      </div>
    </div>
  </div>
  <ul class="shape-group">
    <li class="shape-1">
      <img
        class="d-block-shape-light"
        data-depth="2"
        src="/assets/images/others/map-shape-3.png"
        alt="Shape"
      />
      <img
        class="d-none-shape-dark"
        data-depth="2"
        src="/assets/images/others/3-Home-1.png"
        alt="Shape"
      />
    </li>
    <li class="shape-2">
      <img
        class="d-block-shape-light"
        data-depth="2"
        src="/assets/images/others/map-shape-3.png"
        alt="Shape"
      />
      <img
        class="d-none-shape-dark"
        data-depth="2"
        src="/assets/images/others/dark-map-shape-3.png"
        alt="Shape"
      />
    </li>
  </ul>
</div>
<!-- End Course Area -->
<!--=====================================-->
<!--=       	Campus Area Start      =-->
<!--=====================================-->
<!-- Start Campus Area  -->
<div class="edu-campus-area gap-lg-top-equal">
  <div class="container estam-animated-shape">
    <div class="row g-5">
      <div
        class="col-xl-7"
        data-sal-delay="50"
        data-sal="slide-right"
        data-sal-duration="800"
      >
        <div class="campus-image-gallery">
          <div class="campus-thumbnail">
            <div class="thumbnail">
              <img src="/assets/images/others/campus-life.jpg" alt="Campus" />
            </div>
          </div>
          <ul class="shape-group">
            <li class="shape-1 scene">
              <span data-depth=".8"></span>
            </li>
            <li class="shape-2 scene">
              <img
                data-depth="1.5"
                src="/assets/images/about/shape-21.png"
                alt="Shape"
              />
            </li>
            <li class="shape-3 scene">
              <img
                data-depth="-1.5"
                src="/assets/images/about/shape-13.png"
                alt="Shape"
              />
            </li>
          </ul>
        </div>
      </div>
      <div
        class="col-xl-5"
        data-sal-delay="50"
        data-sal="slide-left"
        data-sal-duration="800"
      >
        <div class="campus-content">
          <div class="inner">
            <div class="section-title section-left">
              <span class="pre-title">Campus</span>
              <h2 class="title">Campus Life</h2>
              <span class="shape-line"><i class="icon-19"></i></span>
            </div>
            <div class="features-list">
              <div class="features-box color-secondary-style">
                <div class="icon">
                  <i class="icon-14 watch-icon"></i>
                </div>
                <div class="content">
                  <h5 class="title">Excursion</h5>
                  <p>Explore thrilling off-campus adventures and create memorable experiences.</p>
                </div>
              </div>
              <div class="features-box color-primary-style">
                <div class="icon">
                  <i class="icon-16 art-board-icon"></i>
                </div>
                <div class="content">
                  <h5 class="title">Coding &amp; GDSC Club</h5>
                  <p>Join our vibrant coding community and unleash your potential in the world of technology.</p>
                </div>
              </div>
              <div class="features-box color-extra05-style">
                <div class="icon">
                  <i class="icon-39 fitness-icon"></i>
                </div>
                <div class="content">
                  <h5 class="title">Sports &amp; Fitness</h5>
                  <p> Stay active and maintain a healthy lifestyle through our diverse sports offerings.</p>
                </div>
              </div>
            </div>
          </div>

          <ul class="shape-group">
            <li class="shape-4 scene">
              <span data-depth=".8"></span>
            </li>
            <li class="shape-5 scene">
              <span data-depth="2"></span>
            </li>
            <li class="shape-6 scene">
              <img
                data-depth="-2"
                src="/assets/images/about/shape-25.png"
                alt="Shape"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Campus Area  -->

<!--=====================================-->
<!--=       Video Area Start      		=-->
<!--=====================================-->
{{!-- <div class="video-area-2 bg-image--14 bg-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="video-banner-content">
          <div class="video-btn">
            <a
              href="https://www.youtube.com/watch?v="
              class="video-play-btn video-popup-activation"
            >
              <i class="icon-18"></i>
            </a>
          </div>
          <h2 class="title">Take a Video Tour to Learn Intro of Campus</h2>
        </div>
      </div>
    </div>
  </div>
</div> --}}
<!--=====================================-->
<!--=       	CTA Area Start      	=-->
<!--=====================================-->
<!-- Start CTA Area  -->
<div class="cta-area-2 mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="edu-cta-box cta-style-2 bg-image bg-image--9">
          <div class="inner">
            <div class="content text-end">
              <span class="subtitle">Get In Touch:</span>
              <h4 class="title"><a href="mailto:info@estamuni.net">info@estamuni.net</a></h4>
            </div>
            <div class="sparator">
              <span>or</span>
            </div>
            <div class="content">
              <span class="subtitle">Call Us Via:</span>
              <h4 class="title"><a href="tel:+22998597234">(+229) 98 59 72 34</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End CTA Area  -->
<!--=====================================-->
<!--=       Event Area Start      		=-->
<!--=====================================-->
<!-- Start Event Area  -->
<div class="edu-event-area event-area-1 gap-large-text">
  <div class="container estam-animated-shape">
    <div
      class="section-title section-center"
      data-sal-delay="150"
      data-sal="slide-up"
      data-sal-duration="800"
    >
      <span class="pre-title">Events &amp; News</span>
      <h2 class="title">Popular Events &amp; News</h2>
      <span class="shape-line"><i class="icon-19"></i></span>
    </div>
    <div class="row g-5">
      <!-- Start Event Grid  -->
      <div
        class="col-lg-4 col-md-6"
        data-sal-delay="100"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="edu-event event-style-1">
          <div class="inner">
            <div class="thumbnail">
              <a href="students-fellowship">
                <img
                  src="assets/images/event/event-18.png"
                  alt="Blog Images"
                />
              </a>
              <div class="event-time">
                <span><i class="icon-33"></i>12:00PM-4:00PM</span>
              </div>
            </div>
            <div class="content">
              <div class="event-date">
                 <span class="month mb-2">Every</span>
                <span class="day">Fri</span>
              </div>
              <h5 class="title"><a href="students-fellowship">Students Fellowship</a></h5>
              <p>Growing in Faith and Community: Join Our Students Fellowship to Deepen Your Relationship with Christ and Connect with Like-Minded Peers.</p>
              <ul class="event-meta">
                <li><i class="icon-40"></i>Segbeya Campus</li>
              </ul>
              <div class="read-more-btn">
                <a
                  class="edu-btn btn-small btn-secondary"
                  href="students-fellowship"
                >Learn More <i class="icon-4"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Event Grid  -->
      <!-- Start Event Grid  -->
      <div
        class="col-lg-4 col-md-6"
        data-sal-delay="200"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="edu-event event-style-1">
          <div class="inner">
            <div class="thumbnail">
              <a href="students-week">
                <img
                  src="assets/images/event/event-17.jpg"
                  alt="Blog Images"
                />
              </a>
              <div class="event-time">
                <span><i class="icon-33"></i>Mon - Sat</span>
              </div>
            </div>
            <div class="content">
              <div class="event-date">
                 <span class="month mb-2">Fall</span>
                <span class="day">Sem</span>
              </div>
              <h5 class="title"><a href="students-week">Student Week</a></h5>
              <p>A Fun-Filled Week of Activities to Celebrate Student Life: Join the Fun and Celebrate Student Life with Our Exciting Annual Students' Week Events</p>
              <ul class="event-meta">
                <li><i class="icon-40"></i>Segbeya Campus</li>
              </ul>
              <div class="read-more-btn">
                <a
                  class="edu-btn btn-small btn-secondary"
                  href="students-week"
                >Learn More <i class="icon-4"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Event Grid  -->
      <!-- Start Event Grid  -->
      <div
        class="col-lg-4 col-md-6"
        data-sal-delay="300"
        data-sal="slide-up"
        data-sal-duration="800"
      >
        <div class="edu-event event-style-1">
          <div class="inner">
            <div class="thumbnail">
              <a href="excursion">
                <img
                  src="assets/images/event/event-14.png"
                  alt="Blog Images"
                />
              </a>
              <div class="event-time">
                <span><i class="icon-33"></i>1 - 3 days</span>
              </div>
            </div>
            <div class="content">
              <div class="event-date">
                 <span class="month mb-2">Yearly</span>
                <span class="day">2X</span>
              </div>
              <h5 class="title"><a href="excursion">Excursion</a></h5>
              <p>Explore the Surrounding Area with Our Excursions: From Outdoor Adventures to Cultural Immersions.</p>
              <ul class="event-meta">
                <li><i class="icon-40"></i>Ancient slave trade port, Ouidah, Ancient royal palaces of Dahomey kingdom Abomey... </li>
              </ul>
              <div class="read-more-btn">
                <a
                  class="edu-btn btn-small btn-secondary"
                  href="excursion"
                >Learn More <i class="icon-4"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Event Grid  -->
    </div>
    <div
      class="event-view-all-btn"
      data-sal-delay="150"
      data-sal="slide-up"
      data-sal-duration="1200"
    >
      <h6 class="view-text">The Latest Events from ESTAM University.
        <a href="campus-life" class="btn-transparent">View All
          <i class="icon-4"></i></a></h6>
    </div>

    <ul class="shape-group">
      <li
        class="shape-1"
        data-sal-delay="500"
        data-sal="fade"
        data-sal-duration="200"
      >
        <img
          class="rotateit"
          src="/assets/images/about/shape-13.png"
          alt="Shape"
        />
      </li>
      <li
        class="shape-2 scene"
        data-sal-delay="500"
        data-sal="fade"
        data-sal-duration="200"
      >
        <span data-depth=".9"></span>
      </li>
    </ul>
  </div>
</div>
<!-- End Event Area  -->
<!--=====================================-->
<!--=       Brand Area Start      		=-->
<!--=====================================-->
<!-- Start Brand Area  -->
<div class="edu-brand-area brand-area-4 gap-lg-bottom-equal">
  <div class="container">
    <div class="brand-grid-wrap brand-style-2">
      <div class="brand-grid">
        <img src="/assets/images/brand/brand-1.png" loading="lazy" alt="gallery" style="max-width: 100%; object-fit:cover; height: 200px; width: 200px;" />
      </div>
      <div class="brand-grid">
        <img src="/assets/images/brand/brand-2.jpg" loading="lazy" alt="gallery" 
        style="max-width: 100%; object-fit:cover; height: 200px; width: 200px;"
        />
      </div>
      <div class="brand-grid">
        <img src="/assets/images/brand/brand-5.jpeg" loading="lazy" alt="gallery" style="max-width: 100%; object-fit:cover; height: 200px; width: 200px;"/>
      </div>
      <div class="brand-grid">
        <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/q_auto:low/gallery28_bng2hz.jpg" loading="lazy" alt="gallery" style="max-width: 100%; object-fit:cover; height: 200px; width: 200px;"/>
      </div>
      <div class="brand-grid">
        <img src="https://res.cloudinary.com/ds5ma1wdd/image/upload/w_1000/gallery01_agdbrh.jpg" loading="lazy" alt="gallery" style="max-width: 100%; object-fit:cover; height: 200px; width: 200px;"/>
      </div>
      <div class="brand-grid">
        <img src="/assets/images/about/hostell.png" loading="lazy" alt="gallery" style="max-width: 100%; object-fit:cover; height: 200px; width: 200px;"/>
      </div>
    </div>
  </div>
</div>
<!-- End Brand Area  -->
<!--=====================================-->
<!--=       CTA Banner Area Start      =-->
<!--=====================================-->
<!-- Start Ad Banner Area  -->
<div class="university-cta-wrapper edu-cta-banner-area bg-image">
  <div class="container">
    <div class="edu-cta-banner">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div
            class="section-title section-center"
            data-sal-delay="150"
            data-sal="slide-up"
            data-sal-duration="800"
          >
            <h2 class="title">Evaluate Your 
              <span class="color-primary">Eligibility &amp; Apply </span>
              for Your Desired Course of Study</h2>
            <a href="admissions" class="edu-btn btn-secondary">Check Requirements
              <i class="icon-4"></i></a>
          </div>
        </div>
      </div>
      <ul class="shape-group">
        <li class="shape-01 scene">
          <img
            data-depth="2.5"
            src="/assets/images/cta/shape-10.png"
            alt="shape"
          />
        </li>
        <li class="shape-02 scene">
          <img
            data-depth="-2.5"
            src="/assets/images/cta/shape-09.png"
            alt="shape"
          />
        </li>
        <li class="shape-03 scene">
          <img
            data-depth="-2"
            src="/assets/images/cta/shape-08.png"
            alt="shape"
          />
        </li>
        <li class="shape-04 scene">
          <img
            data-depth="2"
            src="/assets/images/about/shape-13.png"
            alt="shape"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Ad Banner Area  -->
<!--=====================================-->