{{> header}}

<!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">{{title}} </h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">School</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>
        
        <!--=====================================-->
        <!--=        Courses Area Start         =-->
        <!--=====================================-->
        <div class="edu-course-area course-area-1 section-gap-equal">

            <div class="container" >
            <div class="center section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                {{!-- <span class="pre-title center">Our Vision </span> --}}
                <h2 class="title center">Postgraduate Programs</h2>
                <span class="shape-line center"><i class="icon-19"></i></span>
                <p>At ESTAM University, we believe in providing a holistic and comprehensive educational experience for students at all levels. Building upon our strong undergraduate foundation, we are pleased to offer a diverse range of postgraduate programs for those seeking to further their academic and professional journey.</p>
                <p>Our postgraduate programs, specifically Master's degrees, are designed to provide advanced knowledge, specialized skills, and research opportunities in various fields. Whether you are looking to deepen your expertise, expand your career prospects, or make significant contributions to your chosen discipline, our postgraduate programs offer the ideal platform for your aspirations.</p>
                <p>As a postgraduate student at ESTAM University, you will have access to esteemed faculty members who are accomplished experts in their respective fields. They are dedicated to mentorship, guiding you through your advanced studies, and supporting your research endeavors. You will have the opportunity to collaborate with faculty members on cutting-edge research projects, contributing to the advancement of knowledge and making a meaningful impact in your field.</p>
                <p>We invite you to pursue excellence and expand your horizons through our postgraduate programs at ESTAM University. Whether you aspire to become a thought leader, an industry expert, or a research innovator, our dedicated faculty, comprehensive curriculum, and supportive environment will empower you to reach new heights of success.</p>
            </div>
        </div>

            <div class="container">
                <div class="row g-5">
                    <div class="edu-sorting-area">
                        <div class="sorting-left">
                            <h6 class="showing-text">These are the postgraduate courses we offer at <span>ESTAM University</span></h6>
                        </div>
                        {{!-- <div class="sorting-right">
                            <div class="layout-switcher">
                                <label>Grid</label>
                                <ul class="switcher-btn">
                                    <li><a href="course-one.html" class=""><i class="icon-53"></i></a></li>
                                    <li><a href="course-four.html" class="active"><i class="icon-54"></i></a></li>
                                </ul>
                            </div>
                            <div class="edu-sorting">
                                <div class="icon"><i class="icon-55"></i></div>
                                <select class="edu-select">
                                    <option>Filters</option>
                                    <option>Low To High</option>
                                    <option>High Low To</option>
                                    <option>Last Viewed</option>
                                </select>
                            </div>
                        </div> --}}
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/msc-computer-networks-and-security">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/msc-computer-network.jpg" 
                                    alt="Computer networks and security">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level">Faculty of Applied Science</p> 
                                <h5 class="title">
                                    <a href="/msc-computer-networks-and-security">MSc. Computer Networks and Security Program</a>
                                </h5>
                                <p>The Master's in Computer Networks and Security program at ESTAM University provides students with in-depth knowledge and practical skills in the areas of computer networks, network security, and data protection. The program is designed to meet the growing demand for professionals who can address the complex challenges of network security and ensure the smooth operation of computer networks.</p>
                                <a href="/msc-computer-networks-and-security" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/msc-human-resource-management">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/mscHumanResMan.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level" >Faculty of Social &amp; Management Science</p>
                                <h5 class="title">
                                    <a href="/msc-human-resource-management">MSc. Human Resource Management</a>
                                </h5>
                                <p>The Master's in Human Resource Management program at ESTAM University provides students with comprehensive knowledge and practical skills in various areas of human resource management, including talent acquisition, employee development, performance management, compensation and benefits, and organizational effectiveness. The program is designed to prepare students to become strategic HR leaders who can effectively contribute to the success of organizations.</p>
                                <a href="/msc-human-resource-management" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/msc-economics">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/mscEconomics.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level" >Faculty of Social &amp; Management Science</p>
                                <h5 class="title">
                                    <a href="/msc-economics">MSc. Economics</a>
                                </h5>
                                <p>The Master's in Economics program at ESTAM University provides students with a strong foundation in economic theory, quantitative methods, and applied economics. The program is designed to develop students' analytical and critical thinking abilities, equipping them with the tools and knowledge needed to tackle complex economic issues and contribute to the development of sound economic policies.</p>
                                <a href="/msc-economics" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/msc-communication-and-media-studies">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/mscMassComm.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level" >Faculty of Social &amp; Management Science</p>
                                <h5 class="title">
                                    <a href="/msc-communication-and-media-studies">MSc. Communication and Media Studies</a>
                                </h5>
                                <p>The Master's in Communication and Media Studies program at ESTAM University provides students with a comprehensive understanding of communication theories, media technologies, media industries, and the societal impact of media. The program is designed to develop students' critical thinking, research, and practical skills, equipping them to navigate the complex and ever-changing media landscape.</p>
                                <a href="/msc-communication-and-media-studies" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/msc-diplomacy-and-international-affairs">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/mscDiplomacyAndInternationalAffairs.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level" >Faculty of Social &amp; Management Science</p>
                                <h5 class="title">
                                    <a href="/msc-diplomacy-and-international-affairs">MSc. Diplomacy and International Affairs</a>
                                </h5>
                                <p>The Master's in Diplomacy and International Affairs program at ESTAM University provides students with a comprehensive understanding of the theories, practices, and challenges of international relations. The program is designed to develop students' analytical, diplomatic, and negotiation skills, preparing them for careers in diplomacy, international organizations, government agencies, and non-governmental organizations.</p>
                                <a href="/msc-diplomacy-and-international-affairs" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/msc-accounting-and-auditing">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/mscAccounting.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level" >Faculty of Social &amp; Management Science</p>
                                <h5 class="title">
                                    <a href="/msc-accounting-and-auditing">MSc. Accounting and Auditing</a>
                                </h5>
                                <p>The Master's in Accounting and Auditing program at ESTAM University provides students with a comprehensive understanding of financial accounting, managerial accounting, auditing, and related areas. The program is designed to develop students' technical proficiency, critical thinking abilities, and ethical awareness, preparing them for careers in accounting firms, corporations, government agencies, and other professional settings.</p>
                                <a href="/msc-accounting-and-auditing" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/msc-public-and-local-government-administration">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/mscPublicAdmin.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level" >Faculty of Social &amp; Management Science</p>
                                <h5 class="title">
                                    <a href="/msc-public-and-local-government-administration">MSc. Public and Local Government Administration</a>
                                </h5>
                                <p>The Master's in Public and Local Government Administration program at ESTAM University provides students with a comprehensive understanding of public administration, policy analysis, and local government management. The program is designed to develop students' analytical, managerial, and leadership skills, preparing them for careers in public administration, government agencies, nonprofit organizations, and other public sector settings.</p>
                                <a href="/msc-public-and-local-government-administration" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="edu-course course-style-4 course-style-14">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="/mba">
                                    {{!-- <img src="assets/images/course/course-12.jpg" alt="Course Meta"> --}}
                                    <img src="assets/images/course/mscBusinessAdmin.jpg" alt="Course Meta">
                                </a>
                            </div>
                            <div class="content">
                                {{!-- <div class="course-price">$29.00</div> --}}
                                <p class="course-level" >Faculty of Social &amp; Management Science</p>
                                <h5 class="title">
                                    <a href="/mba">Master of Business Administration (MBA)</a>
                                </h5>
                                <p>The Master of Business Administration (MBA) program at ESTAM University provides students with a comprehensive understanding of business management principles, strategic thinking, and leadership skills. The program is designed to develop students' analytical, critical thinking, and decision-making abilities, preparing them for leadership roles in diverse industries and organizational settings.</p>
                                <a href="/mba" class="edu-btn btn-small ">Learn More<i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Course Area -->
