{{> header}}

<!--=====================================-->
<!--=       Breadcrumb Area Start      =-->
<!--=====================================-->


<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Research</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Research</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
    </ul>
</div>

<!--=====================================-->
<!--=       Testimonial Area Start      =-->
<!--=====================================-->
<!-- Start Testimonial Area  -->
<div class="testimonial-area-2 edu-section-gap" style="margin-bottom: -120px;">
    <div class="container estam-animated-shape">
        <div class="container">
            <div class="row row--45">
                <div class="section-title-flex section-title" data-sal-delay="150" data-sal="slide-up"
                    data-sal-duration="800">
                    <div class="left-content">
                        <h2 class="title" style="font-size: 30px;">Welcome to the <span class="color-secondary">Research
                                Page</span> of <span class="color-primary">ESTAM UNIVERSITY</span></h2>
                        <span class="shape-line"><i class="icon-19"></i></span>
                    </div>
                    <div class="right-content">
                        <p>Here, we showcase the diverse and impactful research conducted by our esteemed faculty and
                            scholars. Our institution is committed to fostering a culture of innovation, intellectual
                            curiosity, and collaboration in various fields of study.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="testimonial-area-2 edu-section-gap" style="margin-bottom: -120px;">
        <div class="container estam-animated-shape">
            <div class="row justify-content-center">
                <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up"
                    data-sal-duration="800">
                    {{!-- <span class="pre-title">Testimonials</span> --}}
                    <h2 class="title">Research Proposal Submission:
                        <span class="shape-line"><i class="icon-19"></i></span>

                        {{!-- <span class="color-secondary">Students</span> <br> Have To Say
                    </h2> --}}
                    <p>We encourage scholars, researchers, and graduate students to contribute to our vibrant research
                        community by submitting their research proposals. If you have an innovative research idea or a
                        project you'd like to pursue, we invite you to share it with us. By submitting your proposal,
                        you have the opportunity to collaborate with our expert faculty, gain access to resources, and
                        make a significant contribution to your field of study. <br><br>
                    </p>
                    <h5 style="text-align: left;">To submit your research proposal, please note the following:</h5>
                    <p style="font-style: italic; text-align: left;"><i class="icon-4"></i> Name: Enter your full name.
                    </p>
                    <p style="font-style: italic; text-align: left;"><i class="icon-4"></i> Email: Provide a valid email
                        address for correspondence.</p>
                    <p style="font-style: italic; text-align: left;"><i class="icon-4"></i> Title of Research Proposal:
                        Briefly summarize the focus or topic of your proposed research.</p>
                    <p style="font-style: italic; text-align: left;"><i class="icon-4"></i> Abstract: Provide a concise
                        overview of your research objectives, methodologies, and expected outcomes.</p>
                    <p style="font-style: italic; text-align: left;"><i class="icon-4"></i> Relevant Discipline or
                        Department: Specify the academic discipline or department most closely aligned with your
                        research.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Area -->

    <!--=====================================-->
    <!--=       Contact Me Area Start       =-->
    <!--=====================================-->
    <section class="contact-us-area">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-4 col-lg-6">
                    <div class="contact-us-info">
                        <h3 class="heading-title">Have a Research Proposal Submission? We're here to help!</h3>
                        <h6>Please note that all submitted research proposals will be carefully reviewed by our research
                            committee. We appreciate your interest in contributing to our research community, and we
                            look forward to reviewing your proposals.</h6>
                        <h6 style="color:#525050;">For any inquiries or further information, please contact our Research
                            Department.</h6>
                        <ul class="address-list">
                            <li>
                                <h5 class="title">Address</h5>
                                <p>148, Von Adjavon, En face d'Eglise Gbiba Wiwe, Segbeya, Akpakpa, Cotonou</p>
                            </li>
                            <li>
                                <h5 class="title">Email</h5>
                                <p><a href="mailto:info@estamuni.net">info@estamuni.net</a></p>
                            </li>
                            <li>
                                <h5 class="title">Phone</h5>
                                <p><a href="tel:+22998597234">(+229) 98 59 72 34</a> or <a
                                        href="tel:+2348066884850">(+234) 806 688 4850 </a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="offset-xl-2 col-lg-6">
                    <div class="contact-form form-style-2">
                        <div class="section-title">
                            <h3 class="heading-title">Get In Touch</h3>
                            <h5>To submit your research proposal, please fill out the form below:</h5>
                        </div>
                        <form class="rnt-contact-form rwt-dynamic-form" id="research-form" method="POST"
                            action="submit-research">
                            <div class="row row--10">
                                <div class="form-group col-12">
                                    <input type="text" name="name" id="contact-name" placeholder="Enter your full name">
                                </div>
                                <div class="form-group col-12">
                                    <input type="email" name="email" id="contact-email" placeholder="Enter your email">
                                </div>
                                <div class="form-group col-12">
                                    <input type="text" name="title" id="research-proposal"
                                        placeholder="Title of Research Proposal">
                                </div>
                                <div class="form-group col-12">
                                    <textarea name="abstract" id="abstract" cols="30" rows="4"
                                        placeholder="Abstract"></textarea>
                                </div>
                                <div class="form-group col-12">
                                    <input type="text" name="discipline" id="relevant-discipline"
                                        placeholder="Relevant Discipline or Department">
                                </div>
                                <div class="form-group col-12">
                                    <button class="rn-btn edu-btn btn-medium submit-btn" type="submit"
                                        name="submit-research" id="submit-research" style="font-style: italic;">Submit
                                        Proposal<i class="icon-4"></i></button>
                                </div>
                            </div>
                        </form>

                        <ul class="shape-group">
                            <li class="shape-1 scene"><img data-depth="1" src="assets/images/about/shape-13.png"
                                    alt="Shape"></li>
                            <li class="shape-2 scene"><img data-depth="-1" src="assets/images/counterup/shape-02.png"
                                    alt="Shape"></li>
                        </ul>
                    </div>
                </div>

                <ul class="shape-group">
                    <li class="shape-1 scene"><img data-depth="1" src="assets/images/about/shape-13.png" alt="Shape">
                    </li>
                    <li class="shape-2 scene"><img data-depth="-1" src="assets/images/counterup/shape-02.png"
                            alt="Shape"></li>
                </ul>
            </div>
        </div>
</div>
</div>
</section>
<!--=====================================-->
<!--=      Google Map Area Start        =-->
<!--=====================================-->
<div class="google-map-area"><br><br><br>
    {{!-- <div class="mapouter">
        <div class="gmap_canvas">
            <iframe id="gmap_canvas"
                src="https://maps.google.com/maps?q=6.38551,2.44489&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div> --}}
</div>

<script>

    // Handle Research Form submission
    const researchForm = document.getElementById('research-form');
    const researchButton = document.getElementById('submit-research');

    researchForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const form = event.target;
        const formData = new URLSearchParams(new FormData(form));

        // Disable the button and change the text to "Loading"
        researchButton.disabled = true;
        researchButton.innerHTML = 'Loading...';

        // Validate form fields
        const researchName = formData.get('name');
        const researchEmail = formData.get('email');
        const researchTitle = formData.get('title');
        const researchAbstract = formData.get('abstract');
        const researchDiscipline = formData.get('discipline');

        if (!researchName || !researchEmail || !researchTitle || !researchAbstract || !researchDiscipline) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'Please fill in all required fields.',
                confirmButtonText: 'OK'
            });

            // Enable the button and change the text back to "Submit Proposal"
            researchButton.disabled = false;
            researchButton.innerHTML = 'Submit Proposal <i class="icon-4"></i>';
            return;
        }

        try {
            const response = await fetch('/submit-research', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData
            });

            if (response.ok) {
                // Form submitted successfully
                Swal.fire({
                    icon: 'success',
                    title: 'Form Submitted',
                    text: 'Your request has been submitted successfully!',
                    confirmButtonText: 'OK'
                });

                // Reset the form after successful submission
                researchForm.reset();

                // Enable the button and change the text back to "Submit Proposal"
                researchButton.disabled = false;
                researchButton.innerHTML = 'Submit Proposal <i class="icon-4"></i>';

            } else {
                // Error submitting form
                console.error('Error submitting form:', response.statusText);
                // Display SweetAlert error message
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Failed to submit your request!',
                    confirmButtonText: 'OK'
                });

                // Enable the button and change the text back to "Submit Proposal"
                researchButton.disabled = false;
                researchButton.innerHTML = 'Submit Proposal <i class="icon-4"></i>';
            }
        } catch (error) {
            console.error('An error occurred:', error);
            // Display SweetAlert error message
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
                confirmButtonText: 'OK'
            });

            // Enable the button and change the text back to "Submit Proposal"
            researchButton.disabled = false;
            researchButton.innerHTML = 'Submit Proposal <i class="icon-4"></i>';
        }
    });


</script>