<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Sign Up</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item"><a href="#">Portal</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
    </ul>
</div>

<!--=====================================-->
<!--=          Login Area Start         =-->
<!--=====================================-->
<section class="account-page-area section-gap-equal">
    <div class="container position-relative">
        <div class="row g-5 justify-content-center">
            <div class="col-lg-6">
                <div class="login-form-box">
                    <h3 class="title">Registration</h3>
                    <p>Already have an account? <a href="/login">Sign in</a></p>
                    <form method="POST" action="/signup" id="signupForm">
                        <div class="form-group">
                            <label for="fullname">Name*</label>
                            <input type="text" name="fullname" id="fullname" placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" name="email" id="email" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <label for="password">Password*</label>
                            <input type="password" name="password" id="password" placeholder="Password">
                            <span class="password-show"><i class="icon-76"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password*</label>
                            <input type="password" name="confirm_password" id="confirm_password"
                                placeholder="Confirm Password">
                            <span class="password-show" id="confirm-password-show"><i class="icon-76"></i></span>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" id="signupBtn" class="edu-btn btn-medium">Create Account <i
                                    class="icon-4"></i></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="Shape"></li>
            <li class="shape-2 scene"><img data-depth="-2" src="assets/images/about/shape-13.png" alt="Shape"></li>
            <li class="shape-3 scene"><img data-depth="2" src="assets/images/counterup/shape-02.png" alt="Shape"></li>
        </ul>
    </div>
</section>


<script src="assets/js/password_visibility.js"></script>
<script src="assets/js/signup_validation.js"></script>