{{> header }}
 <!--=====================================-->
        <!--=       About Area Start            =-->
        <!--=====================================-->
        <div class="section-gap-large edu-about-area about-style-7">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="about-content">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title">Student Resources</span>
                                <h2 class="title">We Offer Students <span class="color-secondary"> Exceptional Service</span> Of The Highest Quality.</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p>We pride ourselves in providing students with exceptional Service that exceeds expectations, offering them the utmost quality and care in every aspect of their experience.</p>
                            </div>
                            <ul class="features-list" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <li>Condusive Hostel</li>
                                <li>Propitious Libary</li>
                                <li>Fast & Secure Internet</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-image-gallery">
                            <img class="main-img-1" src="assets/images/about/hostell.png" alt="About Image">
                            <img class="main-img-2" src="assets/images/about/library.png" data-sal-delay="150" data-sal="slide-down" data-sal-duration="800" alt="About Image">
                            <ul class="shape-group">
                                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="2" src="assets/images/about/shape-38.png" alt="Shape">
                                </li>
                                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="-2" src="assets/images/about/shape-37.png" alt="Shape">
                                </li>
                                <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img data-depth="-1.8" src="assets/images/about/shape-04.png" alt="Shape">
                                </li>
                                <li class="shape-4 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                                    <img src="assets/images/counterup/shape-02.png" alt="Shape">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200"></li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=       Brand Area Start            =-->
        <!--=====================================-->
        <!-- Start Brand Area  -->
        <div class="edu-brand-area brand-area-4 gap-lg-bottom-equal">

        <!--=====================================-->
        <!--=       Why Choose Area Start       =-->
        <!--=====================================-->
        <!-- Start Why Choose Area  -->
        <section class="why-choose-area-2 section-gap-large">
            <div class="container estam-animated-shape">
                <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <span class="pre-title">Why choose estam</span>
                    <h2 class="title">The <span class="color-secondary">Ideal Environment</span><br> of ESTAM University</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-primary-style">
                            <div class="icon">
                                <i class="icon-57"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Condusive Hostel</h4>
                                <p>A comfortable and welcoming accomomodation that creates an ideal environment for rest, relaxation and productivity.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-secondary-style">
                            <div class="icon">
                                <i class="icon-24"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Propitious Libary</h4>
                                <p>A well-stocked and organized facility that provides an ideal setting for learning, research, and intellectual growth.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-extra08-style">
                            <div class="icon">
                                <i class="icon-59"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Fast & Secure Internet</h4>
                                <p>A reliable connection that enables quick access to online resources while ensuring data privacy and protection from cyber threats.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="shape-group">
                    <li class="shape-5" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                        <span></span>
                    </li>
                </ul>
            </div>
            <ul class="shape-group">
                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth="1"></span>
                </li>
                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="shape">
                </li>
                <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth="-1"></span>
                </li>
                <li class="shape-4 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="2" src="assets/images/about/shape-40.png" alt="shape">
                </li>
            </ul>
        </section>
        <!-- End Why Choose Area  -->
        <!--=====================================-->
        <!--=       Testimonial Area Start      =-->
        <!--=====================================-->
        <!-- Start Testimonial Area  -->
        <div class="testimonial-area-5 gap-lg-bottom-equal">
            <div class="container">
                <div class="row g-lg-5">
                    <div class="col-lg-5">
                        <div class="testimonial-heading-area">
                            <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title">Testimonials</span>
                                <h2 class="title">What Our Students Have To Say</h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p>This description highlights the voices of students, indicating their opinions, experiences, and feedback are beign shared. It suggest a dynamic and interactive environment where students perspectives and valued are taken into consideration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="swiper-testimonial-slider-wrapper swiper testimonial-coverflow">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/Kenny.jpg" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>The hostel provides a conducive, friendly, and secure environment. It fosters interaction, idea-sharing, and diverse cultural relationships. It offers amenities like reliable light, water, and a supportive community. Overall, the hostel is a fun, safe, and guarantee-worthy place.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Matthew Kehinde</h5>
                                            <span class="subtitle">Alumni</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/joshua.jpg" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>Experience the epitome of hospitality! This exceptional hostel offers remarkable facilities, impeccable service, and a welcoming environment. A top pick for students seeking comfort, security, and a memorable stay.</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Joshua</h5>
                                            <span class="subtitle">Alumni</span>
                                        </div>
                                    </div>
                                </div><div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/Rita.jpg" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>Unforgettable moments await at this exemplary hostel. With outstanding facilities, dedicated staff, and a warm atmosphere, it's the perfect choice for a comfortable and secure stay. A top recommendation for students!</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Nwanali Rita</h5>
                                            <span class="subtitle">Student</span>
                                        </div>
                                    </div>
                                </div><div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/sophie.jpg" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>Outstanding in every aspect! From the exceptional service to the remarkable facilities, this hostel surpasses expectations. A comfortable and secure stay guaranteed. Highly recommended for students seeking excellence and satisfaction!</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Maryanne</h5>
                                            <span class="subtitle">Student</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-grid">
                                        <div class="thumbnail">
                                            <img src="assets/images/review/Favour.jpg" alt="Testimonial">
                                            <span class="qoute-icon"><i class="icon-26"></i></span>

                                        </div>
                                        <div class="content">
                                            <p>A truly remarkable hostel experience! Impeccable service, outstanding facilities, and a dedicated team. Highly recommended for its comfort, security, and top-notch service. An absolute 5-star choice for students!</p>
                                            <div class="rating-icon">
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                                <i class="icon-23"></i>
                                            </div>
                                            <h5 class="title">Maisamari Favor</h5>
                                            <span class="subtitle">Student</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area  -->
        <!--=====================================-->
        
                    <!-- End Instructor Grid  -->
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span data-depth=".8"></span>
                </li>
                <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <img data-depth="-2" src="assets/images/about/shape-13.png" alt="shape">
                </li>
                <li class="shape-3" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                    <span></span>
                </li>
            </ul>
        </div>
        <!-- End Team Area  -->
        <!--=====================================-->